[2017-05-26 16:17] dpgraham opened #9 "Add a Java linting tool"
Add a lint tool to `espresso-server`

[2017-05-26 16:58] dpgraham opened #11 "Add a logger"
See this for reference: https://github.com/appium/appium-uiautomator2-server/blob/master/app/src/main/java/io/appium/uiautomator2/utils/Logger.java

[2017-05-26 21:07] dpgraham opened #19 "Integrate Codacy"
Acceptance Criteria:
* [ ] Add appium-espresso-driver to codacy
* [ ] Add codacy badge to README.md

[2017-05-30 21:33] dpgraham opened #29 "Implement ServerInstrumentation"
https://github.com/appium/appium-espresso-driver/blob/b952994f8e3798f9480c458656abfe10b7e87d6b/espresso-server/app/src/androidTest/java/io/appium/espressoserver/EspressoServerRunnerTest.java

Right now, we keep the Android test alive by calling Thread.sleep so that the thread can keep listening for HTTP requests.

Need to refactor this to something more sensible and that doesn't timeout.

[2017-05-31 16:27] dpgraham opened #30 "Replace all String concats with String.format"

[2017-05-31 16:28] dpgraham opened #31 "Rename packages to lowercase to keep Codacy happy"

[2017-06-01 17:17] #31 closed

[2017-06-01 17:18] #19 closed

[2017-06-01 17:18] #9 closed

[2017-06-01 23:37] dpgraham opened #41 "Add an E2E build type/product flavor"
We need a separately built Android sample app that we can test with. Right now, testing it from the NodeJS we can't debug the app.

* [ ] Add a separate build type/product flavor that runs a sample Android application (API Demos would be a good choice)
* [ ] Add E2E testing for said application
* [ ] Import the Appium java-client from gradle
* [ ] Write tests that run the test server and run Appiu

[2017-06-06 23:59] #30 closed

[2017-06-19 17:51] dpgraham opened #57 "Cache Views instead of ViewMatchers"
In Espresso, if you try matching a view using a selector that matches multiple views, it will throw an 'AmbiguousViewMatcher' exception.

What we ought to do is catch this exception, and if we encounter it, fallback to the selector that returns a List of elements and then just return the first item on the list.

We could _always_ just get elements in list form and return the first, but I'd be conc

[2017-06-21 14:58] jlipps commented on #57
seems reasonable to me.

[2017-08-09 21:24] dpgraham opened #59 "Implement a hamcrest-matcher selector strategy"
See https://medium.com/google-developers/adapterviews-and-espresso-f4172aa853cf for reference

* AdapterViews don't render all the items at once
* To target a View that isn't on the screen, Espresso has a method `onData(<matcher>)`
* The matcher is a Hamcrest matcher that matches views
* Currently, we don't use `onData` we use `onView` which only finds elements on the page
* We need to figure out

[2017-08-16 10:53] amedvedjev opened #60 "Driver failed to start"
any idea when it start working with basic functions? thanks!

logs https://gist.github.com/amedvedjev/2ea38a9323485f7d2412ade6bce46902

latest appium server: **v1.6.6-beta.4** with same latest java-client: **5.0.0-BETA9**

[2017-08-23 22:49] argeas commented on #60
Having a similar issue.

android 6.0.1 LG G2
appium: v1.6.6-beta.4
mac osx: sierra 10.12.3
java version "1.8.0_121"

I believe the espresso driver fails to start.. look at logs by the end...
( in the stack trace the (DeviceCapabilities.java:31) is this line:
driver = new AndroidDriver(new URL("http://127.0.0.1:4723/wd/hub"), capabilities);

https://gist.github.com/argeas/1062fdbb4d64e06186125e2556

[2017-08-30 08:18] amedvedjev commented on #60
@jlipps @dpgraham will be really nice start using espresso. the speed is in times faster (tried with Android Studio)

[2017-08-30 10:29] argeas commented on #60
@amedvedjev if haven't tried disabling animations from developer options already, you should try it ! it makes things significantly faster when testing.

[2017-08-30 16:45] dpgraham commented on #60
@amedvedjev It's on our roadmap. I too would like to get going with Espresso. The speed's faster and also I"m looking at introducing a selector strategy that lets you target elements that are offscreen.

[2017-09-15 16:21] xuanzhaopeng opened #61 "Cannot start server"
Aligned apk and server apk are all installed in emulator. But :8080/status return with nobody. So I just execute the command manually to start espresso server.  Then I get it.

My env:
Appium 1.6.6-beta.4
Java-client 5.0.3
Android Emulator -  API 23

[code]

[2017-09-15 17:02] xuanzhaopeng commented on #61
I guess maybe should add
[code]

[2017-10-13 09:06] saikrishna321 opened #70 "Not able to perform action on element -matches multiple views"
@dpgraham i was trying out espresso and finding the initial element throw error

driver.findElementById("");

https://gist.github.com/saikrishna321/38f995dd593648e3496ecba75992a484#file-gistfile1-txt-L1070

[2017-10-13 09:12] mykola-mokhnach commented on #70
Please add the logcat output as well

[2017-10-13 09:12] mykola-mokhnach commented on #11
Fixed

[2017-10-13 09:12] #11 closed

[2017-10-13 09:13] mykola-mokhnach commented on #70
Might be related to https://github.com/appium/appium-espresso-driver/issues/57

[2017-10-13 09:29] saikrishna321 commented on #70
https://gist.github.com/saikrishna321/e9e7bea13c9c2dc6e96ac69f10bc8b75

[2017-10-15 13:48] saikrishna321 commented on #70
@mykola-mokhnach would [this](https://github.com/appium/appium-espresso-driver/commit/df5f9c71aa25e2a913561de8f15498698bce87d8) fix this issue

[2017-10-15 13:52] mykola-mokhnach commented on #70
most likely. you need to build the server from master and check

[2017-10-15 15:02] saikrishna321 commented on #70
let me try now

[2017-10-15 17:32] saikrishna321 commented on #70
@mykola-mokhnach its still the same

[2017-10-20 04:38] dpgraham opened #72 "Disable animations via adb"
Espresso doesn't work if animations are not disabled.

Add command to disable them via shell

[code]

[2017-10-21 09:31] KazuCocoa commented on #72
You can also disable animation with https://github.com/appium/io.appium.settings as the following.

[code]

[2017-10-23 00:25] dpgraham commented on #72
Fixed by #73 by @mykola-mokhnach

[2017-10-23 00:25] #72 closed

[2018-02-05 04:44] saikrishna321 opened #81 "Type Error: helpers.installAppremotely"
@dpgraham i was trying the latest 1.8.0-beta3 with espresso driver and it failed to install the application

https://gist.github.com/saikrishna321/9ae97f8d74281f03fa132f979c3806c9#file-gistfile1-txt-L196

This the line https://github.com/appium/appium-espresso-driver/blob/master/lib/driver.js#L306 the log is showing error. But i don't see the installRemoteApk method.

Can you please help on this,

[2018-02-05 06:38] mykola-mokhnach commented on #81
It's fixed by https://github.com/appium/appium-espresso-driver/pull/80. Needs to be tagged though

[2018-02-05 10:51] saikrishna321 commented on #81
@mykola-mokhnach i deleted the appium-espresso driver from node_modules and cloned this repo and did a npm install to have the latest.

i bumped into this issue

https://gist.github.com/saikrishna321/9a352387c65e4c9adef65df3f245e7b5

Else can you please tag the build so that i can test espresso driver

[2018-02-06 00:59] dpgraham commented on #81
@saikrishna321 Just published beta.8; FYI, the Espresso Driver is still in a very early beta phase.

[2018-02-06 09:03] saikrishna321 commented on #81
@dpgraham Thanks that issue has been resolved :)

[2018-02-06 09:03] #81 closed

[2018-02-06 09:05] saikrishna321 commented on #57
@dpgraham @mykola-mokhnach  this issue still exists

https://gist.github.com/saikrishna321/6a80580f132f9eed7505910d72ace825

[2018-02-06 09:47] mykola-mokhnach commented on #57
@saikrishna321 Can you please get the full stack trace from adb logcat output?

[2018-02-06 10:15] saikrishna321 commented on #57
@mykola-mokhnach here you go https://gist.github.com/saikrishna321/aabffac2e7c898f82b54d769bbf4a765

[2018-02-06 10:22] mykola-mokhnach commented on #57
It looks like the server source in the module is outdated. @dpgraham Is the server apk built and versioned automatically after a new driver version has been published?

[2018-02-06 19:25] dpgraham commented on #57
I didn't do that. It's been a while since I've worked on this.

I guess I need to build the APK before doing a version/publish?

[2018-02-06 19:34] mykola-mokhnach commented on #57
I'd rather add auto server building to prepublish tasks, like we did in UIA2. @imurchie can you help with that?

[2018-02-23 23:51] saikrishna321 commented on #70
Closing as its fixed with latest espresso-driver 1.0.0-beta8

[2018-02-23 23:51] #70 closed

[2018-02-24 00:14] saikrishna321 opened #82 "Error performing getting view in application on view is a root view"
When i try to get the pageSource or screenshot i get the below error

org.openqa.selenium.WebDriverException: An unknown server-side error occurred while processing the command. Original error: Could not proxy. Proxy error: Could not proxy command to remote server. Original error: 500 - "{\"message\":\"Internal error has occurred\",\"reason\":\"Error performing \\u0027getting view in application\\

[2018-02-24 00:31] saikrishna321 opened #83 "Implement element/:element_id/element(s)"
@dpgraham i was trying to getText on element and driver says its not implemented

Server logs : https://gist.github.com/saikrishna321/364d834a61c60446749b802d8c8fade2

But as part of #53 i see you have merged PR to get text on element attribute.

If you could help, it would great so that i start of fixing it

myself and @SrinivasanTarget would like to contribute to this repo and get things moving.

[2018-02-24 03:02] jlipps commented on #82
I've also run into this error, with a react native app.

[2018-02-24 05:45] saikrishna321 commented on #82
Its the same, i'm also running with RN app. Let me try with Native app n check if the same happens

[2018-02-24 07:05] saikrishna321 commented on #82
Same with Native application as well

[2018-02-24 07:07] saikrishna321 opened #84 "Espresso Server can handle only one session"
Not able to create session, restarting the device only helps

https://gist.github.com/saikrishna321/1fdd7ca658e31205afa26a9a0f2074cb

[2018-02-26 21:20] dpgraham commented on #83
@saikrishna321 I don't see the call to `/element/:elementId/text` in the server logs.

[2018-02-26 21:47] jlipps commented on #83
[code]

looks like it's finding an element from an element which is not supported

[2018-02-26 21:52] dpgraham commented on #83
Aha, yeah that's not available yet.

[2018-03-07 02:21] jlipps opened #92 ""Error inserting manifest" during new session"
See logs: https://gist.github.com/jlipps/c4fcca0c637c2a91d39882947cbcd4f9

Seems the test server's manifest can't be updated?

[2018-03-07 06:26] mykola-mokhnach commented on #92
@jlipps Can you please make sure that appium-adb module is at the recent version?
`at ADB.callee$0$0$ (../../../lib/tools/android-manifest.js:275:9)` currently there is a docstring at this line.

[2018-03-07 06:30] jlipps commented on #92
[code]

looks like it's using the version from appium-uiautomator, which hasn't been updated after the major version bump

[2018-03-07 06:31] mykola-mokhnach commented on #92
yep, uia driver should be at version 2

[2018-03-07 06:32] mykola-mokhnach commented on #92
would you like me to create a PR?

[2018-03-07 06:37] jlipps commented on #92
@mykola-mokhnach please, I'm not familiar right now with what breaking changes there might be

[2018-03-07 06:53] mykola-mokhnach commented on #92
https://github.com/appium/appium-espresso-driver/pull/93

[2018-03-07 13:35] vmaxim commented on #92
@mykola-mokhnach Something wrong with the published version:
[code]

[2018-03-10 03:55] KazuCocoa opened #96 "java.lang.NoClassDefFoundError: Failed resolution of: Landroid/support/v4/view/ScrollingView;"
When I updated `appium-espresso-driver` to beta9 from beta8, `GET /status` was timeouts and failed to continue the create session process.
(Based on Appium master add9cfe6add22211f5a5f0596bcbc7131705ef26 and modified `package.json`)

I'd like to investigate more when I can get a time.

## beta9
[code]

- client
[code]

[code]

Get the following when run zipalign.

[code]

## beta8
[code]

[2018-03-12 20:33] dpgraham commented on #96
@mykola-mokhnach Do you know what the issue is? `java.lang.NoClassDefFoundError: Failed resolution of: Landroid/support/v4/view/ScrollingView;`

It seems like I need to build the Java prior to doing publishes.

[2018-03-12 20:34] mykola-mokhnach commented on #96
I had the same issue in the log. https://github.com/appium/appium-espresso-driver/pull/95 was a try to fix it

[2018-03-12 20:52] dpgraham commented on #41
Closing. Figured out how to work-around this by attaching to debugger.

[2018-03-12 20:52] #41 closed

[2018-03-12 21:24] dpgraham commented on #57
I'm changing this to instead of caching ViewMatcher we'll cache Views. This is because ViewMatcher goes stale as soon as you use it and thus you can't do more than one operation on a ViewMatcher. It would be simple enough to refactor it to just cache the actual View reference and then if the View doesn't exist anymore, through a `StaleElementException`.

[2018-03-12 21:28] dpgraham commented on #60
We're going to get going with development on this soon.

[2018-03-12 21:28] #60 closed

[2018-03-12 21:32] dpgraham opened #97 "Determine NO_PROXY and CHROME_NO_PROXY list for Espresso Driver"
Should be similar to `appium-uiautomator2-driver`:

[code]

[2018-03-12 21:39] dpgraham opened #98 "Implement JSONWP Touch Actions"
[code]

We should be able to implement these by calling the already existing W3C actions and translating the result to proper.

[2018-03-12 21:49] dpgraham opened #99 "Add README.md to project"

[2018-03-12 21:52] dpgraham opened #100 "Run `appium-android-driver` tests in `appium-espresso-driver`"
Instead of reinventing the wheel and re-writing all of the tests, I think we can just import functional tests that we already have in `appium-android-driver` and run them in `appium-espresso-driver`, but skip over the tests that aren't compatible with Espresso (if there are any).

[2018-03-12 22:12] jlipps commented on #97
👍

[2018-03-12 22:13] jlipps commented on #100
would be a nice way to aim for total compatibility. i like it!

[2018-03-12 22:32] dpgraham opened #101 "Could not launch activity error"

[2018-03-12 22:35] dpgraham opened #102 "Travis CI"
Get Travis CI working for this so that we have fewer regressions and better test coverage

[2018-03-12 23:47] dpgraham opened #103 "Implement MJSONWP Specifications"

[2018-03-12 23:49] dpgraham opened #104 "Technical debt"
* This is a general epic to get rid of any technical debt/flakiness issues, which includes:
  * Improve CI/Testing
  * Improve the reliability/stability of the driver
  * Fix any bugs

[2018-03-14 00:04] KazuCocoa commented on #96
renamed(title)

I tried the latest master, but it reproduced on my machine. I'll try again later.

[2018-03-14 00:15] dpgraham commented on #96
I'm having the same issue. I looked at it today and saw that zipAlign isn't working.

[2018-05-14 17:38] dpgraham opened #110 "Inject 'INTERNET' permission in AndroidManifest.xml if not present"
* I used the latest Espresso@master, did a clean install of the `node_modules`, set `forceEspressoRebuild=true`
* It installs the app but can never open and automate the app

https://gist.github.com/dpgraham/084c4785e85736531161e297bd25cb78

[2018-05-14 18:01] imurchie commented on #110
Hmm. Works locally for me. Can you delete your gradle stuff (`rm -rf espresso-server/.gradle && rm -rf ~/.gradle`) and try again?

[2018-05-14 18:25] dpgraham commented on #110
Should it be re-signing `com.example.android.contactmanager` to `io.appium.espressoserver `

[2018-05-14 18:41] imurchie commented on #110
Grade: 4.7 (isn't that specified in the project? so it should be encoded in the branch of the repo?)
SDK tools: 27.0.3

A gist: https://gist.github.com/imurchie/cffe5629488a82f1239e1ccefe17c240

[2018-05-14 20:05] dpgraham commented on #110
I tried with api-demos.apk and now it's working.

@imurchie can you try with `ContactManager.apk`?

[2018-05-15 01:39] jlipps commented on #110
I just tried with my own app (https://github.com/cloudgrey-io/the-app) and it seems to work fine.

[2018-05-15 16:26] imurchie commented on #110
Turns out you need `INTERNET` permissions. Not sure the Contact Manager will work, since we don't have the source. But I added it to the GPS demo and it worked fine.
[code]

[2018-05-15 20:17] imurchie commented on #102
Works for the basic tests. As other tests work locally we can add them to the travis config.

[2018-05-15 20:17] #102 closed

[2018-05-17 21:59] dpgraham commented on #82
Closing this. I'm pretty sure it's fixed, will open again if it's not.

[2018-05-17 21:59] #82 closed

[2018-05-17 22:00] #101 closed

[2018-05-17 22:49] dpgraham opened #113 "Add window/size endpoint"

[2018-05-18 00:00] dpgraham opened #114 "Create view tag selector strategy"

[2018-05-18 18:49] #57 closed

[2018-05-23 21:21] #113 closed

[2018-05-24 20:07] #97 closed

[2018-05-24 23:48] dpgraham opened #123 "App always crashes right after session starts"
* Sessions always crash ~7 seconds after session starting
* Doesn't matter what the emulator is or what the app is

(link to logcat https://gist.github.com/dpgraham/12178b6056f099555eb4ba6ae853f476)

[2018-05-24 23:50] dpgraham opened #124 "Running different apps in sequence doesn't work"
Steps to Reproduce
* Run a session in one app
* Run a session in another app
* The second session will keep using the signed debug apk from the first session

The way I was able to work around it was wiping the data on the emulator

[2018-05-24 23:51] dpgraham commented on #124
@imurchie and @jlipps do either of you know why this happens? Does it not clean up the debug apk?

[2018-05-25 00:06] #29 closed

[2018-05-25 00:38] dpgraham commented on #61
This probably still isn't an issue. But if it is I'll re-open.

[2018-05-25 00:38] #61 closed

[2018-05-25 00:39] #92 closed

[2018-05-25 03:49] dpgraham commented on #123
More detailed log: https://gist.github.com/dpgraham/f8ee63271f6387c7ff6bc08de40ead40

[2018-05-25 03:52] dpgraham commented on #123
I've looked into this quite a bit and I'm stumped. @mykola-mokhnach @imurchie @jlipps do you have any thoughts?

[2018-05-25 15:36] greenkeeper[bot] opened #126 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-05-25 15:54] dpgraham opened #127 "Add UiAutomator2 vs. Espresso Document"
Add a doc to `appium/appium` outlining the differences between UIA2 and Espresso and providing a migration guide.

Some differences are:
1. Espresso uses idling resources which means not needing to wait for UI updates
2. Espresso can access elements that are not on the screen
3. UiAutomator2 is black box and thus can automate multiple apps, Espresso only tests the App-under-test (AUT)

[2018-05-28 19:17] jlipps commented on #124
i don't know why this would be. when you say "signed debug apk" do you mean the app apk? or the espresso apk? or what?

[2018-05-28 20:16] dpgraham commented on #124
The Espresso apk. When the second session is run it has the same package/signature as the original apk that was tested.

[2018-05-30 16:51] dpgraham opened #135 "Create re-usable W3C actions spec implementation"
We'll need to be able to be flexible for future cases where we need to re-implement W3C touch actions in the event that:
a) We have to implement W3C touch actions on some other Java platform
b) A new underlying Android technology is provided by Google and we have to adapt to that

My proposal is that we:
1. Implement the [specification](https://www.w3.org/TR/webdriver/#actions) independently of an

[2018-05-30 17:42] dpgraham opened #136 "Add W3C action models"
Comply with [W3C Action spec 17.1](https://www.w3.org/TR/webdriver/#terminology-0)

Acceptance Criteria:
* [ ] Add a W3C actions class that has a list of InputSource that the JSON payload is deserialized to
* [ ] Add an InputSource class that has a list of the input sources

[2018-05-30 18:35] jlipps commented on #135
big fan of this idea. reusable java modules seems like a great way to not copy/paste stuff around the drivers. i'm not sure if you have this in mind, but we could extend this to the whole of the protocol, similarly to how we have a base-driver in the JS world. we could have a set of BaseDriver java classes, so only the implementation details differ between say uiautomator2 and espresso.

[2018-05-30 18:38] mykola-mokhnach commented on #135
It would be interesting to see the actual implementation. I'm wondering if there are really so many common things in different Android automation frameworks that these could be extracted into a common lib.

[2018-05-30 22:35] dpgraham opened #138 "Add W3C source state"
(see https://www.w3.org/TR/webdriver/#input-source-state)

Acceptance Criteria
* [ ] Has model for input source state
* [ ] Has model for key input state
* [ ] Has model for pointer input state

[2018-05-31 01:34] dpgraham commented on #135
@jlipps For this epic I just want to make it work for W3C Touch Actions, but yes I think we're on the same page that my ideal implementation is that we'd decouple it into 1. A Java server that handles routing and dispatching routes to handlers 2. Adapters for Android (or some other possible Java-based Appium implementation) that hook into the handlers without any awareness of HTTP or the specifica

[2018-05-31 02:52] dpgraham commented on #135
@mykola-mokhnach The main goal with this is that I want to de-couple the implementation of the spec from the actual execution of the native Android events. This is so we can easily unit test spec code and we can troubleshoot issues more easily by being able to distinguish spec issues from native Android issues. I do plan on using your code for the 'adapter' portion of the implementation.

[2018-05-31 15:15] dpgraham opened #139 "Remove start_activity from NO_PROXY"

[2018-05-31 16:14] dpgraham opened #141 "Add W3C actions processor"

[2018-06-01 15:25] dpgraham opened #147 "Add W3C actions processors"
Implement [17.3 of W3C Actions Spec](https://www.w3.org/TR/webdriver/#processing-actions-requests)

[2018-06-01 15:26] dpgraham opened #148 "Add W3C keyboard aciton dispatcher"
Implement [17.4.1 and 17.4.2 of spec](https://www.w3.org/TR/webdriver/#keyboard-actions)

[2018-06-01 15:27] dpgraham opened #149 "Add W3C pointer dispatcher"
Implement [17.4.3 of spec](https://www.w3.org/TR/webdriver/#pointer-actions)

[2018-06-01 15:28] dpgraham opened #150 "Add POINTER_MOVE adapter for W3C"
We already have W3C so should hopefully be a matter of refactoring to use it as part of an adapter

[2018-06-01 15:31] dpgraham opened #151 "Add key event adapter for Espresso"

[2018-06-01 15:37] dpgraham opened #152 "Add W3C actions input state (17.2)"

[2018-06-01 15:37] #152 closed

[2018-06-01 15:37] #136 closed

[2018-06-06 11:44] greenkeeper[bot] opened #154 "An in-range update of sinon is breaking the build 🚨"
## Version **5.1.0** of [sinon](https://github.com/sinonjs/sinon) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fsinon-5.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>sinon</code>
    <

[2018-06-06 13:20] #154 closed

[2018-06-06 18:44] greenkeeper[bot] opened #155 "An in-range update of appium-android-driver is breaking the build 🚨"
## Version **3.0.2** of [appium-android-driver](https://github.com/appium/appium-android-driver) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-android-driver-3.0.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency

[2018-06-06 20:17] greenkeeper[bot] opened #156 "An in-range update of wd is breaking the build 🚨"
## Version **1.9.0** of [wd](https://github.com/admc/wd) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fwd-1.9.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>wd</code>
    </td>
  </tr>

[2018-06-07 16:57] greenkeeper[bot] opened #157 "An in-range update of appium-base-driver is breaking the build 🚨"
## Version **2.32.0** of [appium-base-driver](https://github.com/appium/appium-base-driver) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-base-driver-2.32.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>

[2018-06-08 22:18] greenkeeper[bot] opened #158 "An in-range update of sinon is breaking the build 🚨"
## Version **5.1.1** of [sinon](https://github.com/sinonjs/sinon) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fsinon-5.1.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>sinon</code>
    <

[2018-06-12 09:16] greenkeeper[bot] opened #162 "An in-range update of appium-support is breaking the build 🚨"
## Version **2.17.0** of [appium-support](https://github.com/appium/appium-support) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-support-2.17.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>

[2018-06-13 16:00] #149 closed

[2018-06-13 16:00] #141 closed

[2018-06-13 16:00] #138 closed

[2018-06-13 16:04] #139 closed

[2018-06-13 16:04] #147 closed

[2018-06-13 16:06] dpgraham opened #164 "Add perform/release action endpoints (W3C)"

[2018-06-14 14:38] greenkeeper[bot] opened #167 "An in-range update of appium-adb is breaking the build 🚨"
## Version **6.11.0** of **[appium-adb](https://github.com/appium/appium-adb)** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-adb-6.11.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <cod

[2018-06-18 12:45] #124 closed

[2018-07-02 20:21] greenkeeper[bot] opened #178 "An in-range update of teen_process is breaking the build 🚨"
## Version **1.13.0** of **teen_process** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fteen_process-1.13.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com

[2018-07-13 14:36] #126 closed

[2018-07-13 14:36] #155 closed

[2018-07-13 14:36] #156 closed

[2018-07-13 14:36] #157 closed

[2018-07-13 14:36] #158 closed

[2018-07-13 14:36] #162 closed

[2018-07-13 14:36] #164 closed

[2018-07-13 14:36] #167 closed

[2018-07-13 14:36] #178 closed

[2018-07-16 19:35] greenkeeper[bot] opened #180 "An in-range update of appium-support is breaking the build 🚨"
## Version **2.18.1** of **appium-support** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-support-2.18.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github

[2018-07-19 19:08] greenkeeper[bot] opened #181 "An in-range update of appium-base-driver is breaking the build 🚨"
## Version **3.1.0** of **appium-base-driver** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-base-driver-3.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://

[2018-07-20 18:40] #181 closed

[2018-07-20 18:40] #180 closed

[2018-07-25 15:32] greenkeeper[bot] opened #183 "An in-range update of appium-base-driver is breaking the build 🚨"
## Version **3.3.0** of **appium-base-driver** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-base-driver-3.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://

[2018-07-25 20:41] #148 closed

[2018-07-26 01:03] greenkeeper[bot] opened #185 "An in-range update of wd is breaking the build 🚨"
## Version **1.10.3** of **wd** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fwd-1.10.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/admc/wd>wd</a>

[2018-07-26 13:48] imurchie commented on #183
Flake.

[2018-07-26 13:48] #183 closed

[2018-07-26 13:49] imurchie commented on #185
Flake.

[2018-07-26 13:49] #185 closed

[2018-07-27 19:36] greenkeeper[bot] opened #187 "An in-range update of appium-support is breaking the build 🚨"
## Version **2.20.0** of **appium-support** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-support-2.20.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github

[2018-07-30 13:55] #187 closed

[2018-07-31 02:28] greenkeeper[bot] opened #190 "An in-range update of appium-base-driver is breaking the build 🚨"
## Version **3.4.0** of **appium-base-driver** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-base-driver-3.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://

[2018-07-31 16:48] jlipps commented on #190
does not appear to be related to the base driver changes, though maybe @dpgraham can confirm.

[2018-07-31 16:48] #190 closed

[2018-08-02 21:01] #135 closed

[2018-08-02 21:01] #114 closed

[2018-08-07 20:34] greenkeeper[bot] opened #200 "An in-range update of appium-adb is breaking the build 🚨"
## Version **6.15.2** of **appium-adb** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-adb-6.15.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/app

[2018-08-08 13:08] imurchie commented on #200
Travis issue.

[2018-08-08 13:08] #200 closed

[2018-08-09 22:17] #151 closed

[2018-08-09 22:17] #150 closed

[2018-08-09 22:17] #98 closed

[2018-08-09 22:18] #83 closed

[2018-08-09 22:18] #103 closed

[2018-08-14 17:17] greenkeeper[bot] opened #207 "An in-range update of appium-base-driver is breaking the build 🚨"
## Version **3.5.0** of **appium-base-driver** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-base-driver-3.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://

[2018-08-14 21:36] saikrishna321 opened #208 "Starting Espresso Server session failed"
I was unable to start a new session and bumped at below error

https://gist.github.com/saikrishna321/fa515b751d937f3c466671ec704633f9

Appium server : Latest master
Client: 6.1.0

[2018-08-14 21:52] dpgraham commented on #208
* Did you clean the `node_modules` and reinstall? (`rm -rf node_modules && npm install`)
* Are you able to share the logcat logs for when the session is being created?
* Did this work with the previous version and then stop working? Or has it ever worked?
* Does anything happen on the device/emulator?

[2018-08-14 22:03] #100 closed

[2018-08-14 22:11] #123 closed

[2018-08-14 22:43] imurchie commented on #208
I've made a couple of PRs (in [appium-base-driver](https://github.com/appium/appium-base-driver/pull/249) and [teen_process](https://github.com/appium/node-teen_process/pull/33)) to try to add some visibility to these sorts of situations. With them, hopefully manually trying the command might add something to the debugging.

[2018-08-15 05:46] saikrishna321 commented on #208
@dpgraham nothing happens when i run this command

In Android 8.1.0 nothing happens, just keeps executing.
In Android 5.1.0 it executes both manually and from Appium.

 Yes

https://gist.github.com/saikrishna321/b2370198899052c0d1aaa226a1f92f81

Not sure, haven't tested on 8.1.0 before

Just installs the APK and io.appium.espressoserver.test APK nothing else.

[2018-08-15 17:19] greenkeeper[bot] opened #209 "An in-range update of teen_process is breaking the build 🚨"
## Version **1.13.1** of **teen_process** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fteen_process-1.13.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com

[2018-08-17 20:17] greenkeeper[bot] opened #211 "An in-range update of appium-android-driver is breaking the build 🚨"
## Version **3.5.0** of **appium-android-driver** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-android-driver-3.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=ht

[2018-08-19 09:54] KazuCocoa commented on #127
Should we mention about uiselector in https://appium.io/docs/en/writing-running-appium/android/uiautomator-uiselector/ ?

Probably Espresso driver won't support `uiautomator` as `find by`.
https://github.com/appium/appium/issues/6025#issuecomment-407876785

[2018-08-19 20:48] dpgraham commented on #127
@kazucocoa yep... it won't support that. That's a thing that needs to be mentioned.

[2018-08-22 14:26] #211 closed

[2018-08-22 14:26] #207 closed

[2018-08-22 14:26] #209 closed

[2018-08-22 16:41] saikrishna321 opened #213 "DragNDrop fails with null object reference"
@dpgraham @mykola-mokhnach

Appium Server: Latest Master
Java-Client: 6.1.0

[code]

Server logs: https://gist.github.com/saikrishna321/e0681990382ccde8d6fbc9635170d063

[2018-08-22 17:56] dpgraham commented on #213
@saikrishna321 Are you able to share the logcat logs for the point when that happens?

[2018-08-22 18:31] dpgraham commented on #213
I just noticed it's using `mouse`.... is it on a device that supports `mouse` actions?

[2018-08-22 19:17] mykola-mokhnach commented on #213
@dpgraham Selenium actions can only generate mouse gestures. In uia2 and xcuitest I do the pointer type replacement on driver layer.

[2018-08-22 19:32] dpgraham commented on #213
I'll use [.getSources](https://developer.android.com/reference/android/view/InputDevice#getSources()) to check if MOUSE is available. If it isn't, we'll just use touch

[2018-08-22 19:39] mykola-mokhnach commented on #213
I would assume if the action is done on a touch screen then there is 99% probability that the client wants to use `touch` action type. Selenium API is optimized to work with browsers/mouse controller, so they don't really care about touch screens

[2018-08-22 19:55] dpgraham commented on #213
I suppose. I would like users to have the ability to test mouse movements in the future though, if there's ever a demand for Android laptop testing. I'll leave a note about it in the source code explaining it.

[2018-08-22 21:04] dpgraham commented on #213
@saikrishna321 does that app crash at any point during the test?

Your bug means that this function is returning `null`:

[code]

[2018-08-22 21:12] saikrishna321 commented on #213
yup, the app crashes once .perform() is completed

will update the adb logs soon .. I'm on device

[2018-08-22 21:40] saikrishna321 commented on #213
@dpgraham this is adb crash logs https://gist.github.com/saikrishna321/ad5007a0896e5d52c35ebf7c5c90717b

[2018-08-22 23:10] dpgraham commented on #213
Thanks @saikrishna321 I think I should have a fix in shortly.

[2018-08-23 13:45] #84 closed

[2018-08-23 16:16] saikrishna321 commented on #213
@dpgraham i believe this https://github.com/appium/appium-espresso-driver/pull/215 fixes the issue

[2018-08-24 01:11] appiumautouser opened #217 "Error performing 'getting view in application' on view 'is a root view - Getting this error while trying to find an element with view-tag using xpath"
I tried using the xpath to find an element with view-tag and got the below error. Details given below.

Code:
driver.findElementByXPath("//android.widget.TextView[@view-tag='titleTestID']");
OR
driver.findElement(By.xpath("//android.widget.TextView[@view-tag='titleTestID']"));

org.openqa.selenium.WebDriverException: An unknown server-side error occurred while processing the command. Original erro

[2018-08-24 05:32] saikrishna321 commented on #213
@dpgraham i tried with latest master and original error is fixed and app does not crash, but with some other exception now. Refer logs

[code]
ADB logs: https://gist.github.com/saikrishna321/47831b3a0b0649837acc32e9f6f20de9
Server logs: https://gist.github.com/saikrishna321/31d92b7d964d0ea6872fc3f28164c10a

[2018-08-24 05:33] saikrishna321 commented on #217
@appiumautouser can you please provide sample apk file with view-tag ?

[2018-08-24 17:34] mykola-mokhnach commented on #213
The chain is for sure not the one, which is supposed to work. Try the approach proposed by @jlipps in https://appiumpro.com/editions/29

[2018-08-24 17:44] saikrishna321 commented on #213
@mykola-mokhnach then we need to change the docs examples

http://appium.io/docs/en/commands/interactions/actions/

[2018-08-26 17:24] saikrishna321 commented on #213
@dpgraham Fixes works well..

[code]

[2018-08-26 17:24] #213 closed

[2018-08-27 15:45] greenkeeper[bot] opened #218 "An in-range update of appium-adb is breaking the build 🚨"
## Version **6.16.0** of **appium-adb** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-adb-6.16.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/app

[2018-08-27 20:27] dpgraham commented on #213
Awesome!

[2018-08-27 23:06] appiumautouser commented on #217
https://wetransfer.com/downloads/798d2863a7376000a6ba08578f1f23f520180827225418/45a35d

Here is the link to download the apk file. This is the one I used to test.

[2018-08-28 13:10] #218 closed

[2018-08-28 13:42] imurchie commented on #208
What happens when you run the command by itself?
[code]

[2018-08-28 14:43] saikrishna321 commented on #208
@imurchie nothing happens, just keeps executing.

[2018-08-28 14:49] shridharkalagi commented on #208
Yup. Nothing is happening.

[2018-08-28 14:59] imurchie commented on #208
Is this a real device, or an emulator?

[2018-08-28 15:02] saikrishna321 commented on #208
real device

[2018-08-28 15:09] shridharkalagi commented on #208
Here is the logcat info
https://gist.github.com/shridharkalagi/bcb713face7d550ff63af7df88e5c83b

[2018-08-28 15:36] imurchie commented on #208
Strange. Using my Pixel with 8.1.0 it works fine. The only notable difference is that I have build tools for `28.0.2` installed. Uninstalling it doesn't seem to make a difference, but  ¯\_(ツ)_/¯

[2018-08-28 15:37] dpgraham commented on #208
@shridharkalagi Can you try `adb kill-server && adb start-server`? Looks like yours is similar to this: https://github.com/googlesamples/android-testing/issues/89

[2018-08-28 15:40] imurchie commented on #208
While running the adb command to start the server, can you try going to `http://0.0.0.0:8080/status`? To see if the server is running but adb is not reporting it?

[2018-08-28 17:48] saikrishna321 commented on #208
@dpgraham restarting the adb server it works now and i'm able the run the tests

@imurchie when i run the command now after restarting the adb server

[code]

[code]

[2018-08-29 09:06] greenkeeper[bot] opened #220 "An in-range update of appium-base-driver is breaking the build 🚨"
## Version **3.6.0** of **appium-base-driver** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-base-driver-3.6.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://

[2018-09-04 22:37] appiumautouser commented on #217
Any updates on this?

[2018-09-06 02:30] greenkeeper[bot] opened #221 "An in-range update of appium-adb is breaking the build 🚨"
## Version **6.18.0** of **appium-adb** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-adb-6.18.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/app

[2018-09-07 21:37] saikrishna321 commented on #208
@imurchie @dpgraham i bumped at this issue again on the same device, this time even adb kill-server and start-server didn't help. tried removing the espresso apk from device.No luck

[2018-09-07 21:54] dpgraham commented on #208
@saikrishna321 Are the logs the same?

[2018-09-08 08:30] saikrishna321 commented on #208
@dpgraham yes same logs

[2018-09-12 08:11] eMTe123 opened #222 "An unknown server-side error occurred while processing the command. Original error: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String java.lang.Throwable.toString()' on a null object reference"
## The problem

Hello!

I am trying to use 1.9.0 with "automationName" : "Espresso". I get the error below, using appium inspector

## Environment

* Appium version (or git revision) that exhibits the issue: 1.9.0
* Last Appium version that did not exhibit the issue (if applicable): N/A
* Desktop OS/version used to run Appium: Ubuntu 18.04
* Node.js version (unless using Appium.app|exe): N/A using

[2018-09-12 15:47] mykola-mokhnach commented on #222
There might be a problem with activity startup. I've pushed a PR which fixes exception output, but this anyway won't fix the original cause. Try to remove package and activity names so the script can autodetect these and if it still does not work then make sure you can manually start the app using the data above with `adb shell am start` utility.

[2018-09-12 16:32] #221 closed

[2018-09-12 16:32] #220 closed

[2018-09-13 07:17] eMTe123 commented on #222
Removing package and activity yields the same result. Running 'adb shell am start' with package and activity starts the app up fine.

[2018-09-14 07:03] greenkeeper[bot] opened #225 "An in-range update of appium-adb is breaking the build 🚨"
## The dependency [appium-adb](https://github.com/appium/appium-adb) was updated from `6.18.1` to `6.19.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-adb-6.19.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-adb is a direct dependency of

[2018-09-14 07:35] greenkeeper[bot] opened #226 "An in-range update of appium-android-driver is breaking the build 🚨"
## The dependency [appium-android-driver](https://github.com/appium/appium-android-driver) was updated from `4.0.0` to `4.1.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-android-driver-4.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium

[2018-09-17 12:48] #225 closed

[2018-09-17 12:48] #226 closed

[2018-09-18 07:54] ania-s opened #227 "Unable to scroll/swipe"
I started to use Appium: 1.9.0 with appium-espresso-driver for the testing with webdriver. However, I cannot get scrolling/swiping working.

I tried below:

[code]
It doesn't give any error, but it doesn't do anything on the page (the same happens if I use "`browser.touchPerform`" or "`browser.touchAction`").

`browser.performTouchAction([{
          action: 'press',
          options: {

[2018-09-18 16:52] dpgraham commented on #227
Thanks for reporting this. Can you provide me with the Appium logs, too?

[2018-09-18 16:58] mykola-mokhnach commented on #227
I assume that request arguments are wrong here. Valid actions object should look like https://github.com/appium/WebDriverAgent/blob/7fc54afc858c94b061d5983cbef02aca92c0a933/WebDriverAgentTests/IntegrationTests/FBW3CTouchActionsIntegrationTests.m#L270

[2018-09-20 13:08] greenkeeper[bot] opened #228 "An in-range update of appium-android-driver is breaking the build 🚨"
## The dependency [appium-android-driver](https://github.com/appium/appium-android-driver) was updated from `4.1.0` to `4.1.1`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-android-driver-4.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium

[2018-09-20 16:18] #228 closed

[2018-09-25 12:53] rajdeepv opened #232 "Error while starting instrumentation with Obfuscated apk (with proguard)"
**Details**
Espresso server has gson as dependancy. In many cases gson is a dependancy of the app under test as well. When the app is obfuscated, Its complains NoSuchMethodError for obfuscated methods as below:

[code]

[2018-09-26 20:45] thsuWeather opened #234 "java.net.SocketException: socket failed: EACCES (Permission denied)"
Hello, I have been using UIAutomator2 and test runs fine; however, when I try switching to Espresso,  I keep getting
[code]
I tried looking into it the issue and was wondering if it is caused by the espresso-server app not having any permission declared in the AndroidManifest. ie.
[code]
Thanks!

### Environment:
Appium 1.9.1
Android version 8.0.0 and 7.1

### Log:
[code]

[2018-10-01 20:05] greenkeeper[bot] opened #236 "An in-range update of appium-android-driver is breaking the build 🚨"
## The dependency [appium-android-driver](https://github.com/appium/appium-android-driver) was updated from `4.2.0` to `4.2.1`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-android-driver-4.2.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium

[2018-10-01 23:41] greenkeeper[bot] opened #237 "An in-range update of appium-support is breaking the build 🚨"
## The dependency [appium-support](https://github.com/appium/appium-support) was updated from `2.20.0` to `2.21.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-support-2.21.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-support is a dire

[2018-10-02 08:31] greenkeeper[bot] opened #238 "An in-range update of appium-base-driver is breaking the build 🚨"
## The dependency [appium-base-driver](https://github.com/appium/appium-base-driver) was updated from `3.6.3` to `3.7.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-base-driver-3.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-base-dri

[2018-10-02 20:18] #236 closed

[2018-10-02 21:45] greenkeeper[bot] opened #239 "An in-range update of appium-adb is breaking the build 🚨"
## The dependency [appium-adb](https://github.com/appium/appium-adb) was updated from `6.20.0` to `6.21.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-adb-6.21.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-adb is a direct dependency of

[2018-10-03 17:21] #238 closed

[2018-10-04 02:37] greenkeeper[bot] opened #240 "An in-range update of appium-base-driver is breaking the build 🚨"
## The dependency [appium-base-driver](https://github.com/appium/appium-base-driver) was updated from `3.8.0` to `3.8.1`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-base-driver-3.8.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-base-dri

[2018-10-04 15:20] #240 closed

[2018-10-05 02:58] greenkeeper[bot] opened #241 "An in-range update of asyncbox is breaking the build 🚨"
## The dependency [asyncbox](https://github.com/jlipps/asyncbox) was updated from `2.5.0` to `2.5.1`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fasyncbox-2.5.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

asyncbox is a direct dependency of this proje

[2018-10-05 08:26] greenkeeper[bot] opened #242 "An in-range update of appium-test-support is breaking the build 🚨"
## The devDependency [appium-test-support](https://github.com/appium/appium-test-support) was updated from `1.0.0` to `1.1.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-test-support-1.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-te

[2018-10-05 12:04] greenkeeper[bot] opened #243 "An in-range update of appium-gulp-plugins is breaking the build 🚨"
## The devDependency [appium-gulp-plugins](https://github.com/appium/appium-gulp-plugins) was updated from `3.1.0` to `3.1.2`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-gulp-plugins-3.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-gu

[2018-10-05 17:28] #242 closed

[2018-10-05 17:28] #241 closed

[2018-10-05 17:29] #243 closed

[2018-10-05 17:30] #237 closed

[2018-10-09 19:21] juandg opened #244 "Make 'touch' the default interaction"
I have a very simple test that scrolls down on a list of elements and works well when I use the UIAutomator2 driver for Android or XCUITest driver for iOS, but it fails as soon as I switch to the Espresso driver.

For what is worth the app is written on React Native so that might have something to do with the issue I'm seeing, but I still think that since it works on the other two drivers (XCUITes

[2018-10-10 17:32] jlipps commented on #244
@juandg please try a W3C action instead of one of the old appium actions

[2018-10-11 02:17] juandg commented on #244
@jlipps: You mean using `ActionChains` instead of `TouchAction`? [W3C Actions](http://appium.io/docs/en/commands/interactions/actions/)

That doesn't seem to work either. I tried to find an implementation of `ActionChains` on the Python Client but there doesn't seem to be one, so I had to import it from Selenium:

`from selenium.webdriver.common.action_chains import ActionChains`

I tried two diff

[2018-10-11 16:51] #239 closed

[2018-10-11 17:32] jlipps commented on #244
Those aren't exactly the right methods to use. Unfortunately docs on this are slim. You probably want to use `ActionBuilder`:

[code]

[2018-10-11 21:28] greenkeeper[bot] opened #245 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `dependency` [@babel/runtime](https://www.npmjs.com/package/@babel/runtime) was updated from `7.1.1` to `7.1.2`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fmonorepo.babel7-7.1.3).

This version is **covered** by your **current version range** and after updating it in

[2018-10-11 21:52] juandg commented on #244
@jlipps That didn't work either.

The code above simply clicked on an element on the list but didn't scroll. I added a `pause(1)` and that worked great on the XCUITest driver and scrolled correctly but gave me the exact same error as above on the Espresso driver.

My code:
[code]
The appium log with the Espresso driver:
[code]
Java stacktace:
[code]

[2018-10-12 14:07] #245 closed

[2018-10-12 17:41] jlipps commented on #244
OK, I think this is now an error that @dpgraham can look into since he developed the actions functionality in the espresso driver.

[2018-10-12 22:02] dpgraham commented on #244
Looking at the logs for the W3C actions I can see right away that it's using the Mouse and not touch:

[code]

Is there a way to set the pointerType to 'touch'? Does the client support that?

As for the legacy touch actions, it should be working so there must be a bug. The way we made it work is just by taking legacy touch actions and then translating them to what should be equivalent W3C touch ac

[2018-10-12 22:08] dpgraham commented on #244
@juandg This is unrelated to this bug, but for your test are you trying to scroll to an element that's offscreen?

If you are, and that element has the accessibility ID set, you should be able to locate elements by their accessibility id when they're offscreen (Espresso only).

[2018-10-12 22:17] dpgraham commented on #208
@saikrishna321 Can you try setting `forceEspressoRebuild=true` in the caps?

[2018-10-12 22:35] juandg commented on #244
Hi @dpgraham thanks for your quick response. I noticed I'm able to locate the element even though it's not visible which is awesome, but in this particular scenario I want to perform an action on it (like clicking it) and those fail with this error: `Action will not be performed because the target view does not match one or more of the following constraints: at least 90 percent of the view's area

[2018-10-12 22:44] dpgraham commented on #234
@thsuWeather I have experienced the same issue myself, and I indeed think that it is because of the internet permissions. We'll track the work on this issue: https://github.com/appium/appium-espresso-driver/issues/110

[2018-10-12 22:45] #234 closed

[2018-10-12 22:47] dpgraham commented on #232
So the app gets obfuscated but `espresso-server` doesn't, and that still happens?

[2018-10-12 22:59] dpgraham commented on #244
Okay, I can reproduce it myself as well, so I'll dig into this.

One thing to note is that the element actually gets scrolled to when you _find_ the element. So if you just locate the element (and don't do anything) it should scroll to the element.

[2018-10-12 23:05] juandg commented on #244
Ok here's the relevant part of the logcat output:

[code]

[2018-10-12 23:47] juandg commented on #244
@dpgraham Interesting, how should I "find" the element?

I tried using these 2 separate strategies to find the element and indeed the element is found (even though it's off screen) but the UI never scrolls to that position.

[code]

[2018-10-13 06:53] saikrishna321 commented on #208
@dpgraham i'm unable to test this now as the latest master has broken in session creation for espresso. I have issue raised at server side

https://github.com/appium/appium/issues/11525

[2018-10-13 07:02] saikrishna321 commented on #244
@juandg ActionsBuilder from selenium is not gonna work for you. It build a wrong W3C Action chain which will not work (https://github.com/appium/appium-espresso-driver/issues/244#issuecomment-429475141)

Please use Point API and build your actions.

Sample Point API for DragNDrop in java

[code]

Pause is mandatory as WDA expects  that

https://github.com/appium/WebDriverAgent/blob/master/WebDrive

[2018-10-13 13:53] rajdeepv commented on #232
Yes, App under test is obfuscated but Espresso server is not.
If I build unobfuscated app,  I do not get above error.

[2018-10-13 21:11] dpgraham commented on #244
@juandg is there more than one element with the id `my-button`?

[2018-10-13 21:14] dpgraham commented on #244
I'm pretty sure the problem is that it's dispatching MOUSE events instead of TOUCH events. I'll try putting in a patch for this.

[2018-10-13 21:15] dpgraham commented on #208
Okay, thanks for letting me know.

[2018-10-16 01:08] juandg commented on #244
@saikrishna321 Thanks for clarifying that's really helpful.

[2018-10-16 01:12] juandg commented on #244
No, the accessibility id of the button is unique for the app. `my-button` is a made up id I used to avoid confusion with the real name of my element.

Could the fact that this is a React Native app have anything to do with the automatic scrolling triggered by `find` not working? Is that functionality depending on a specific Android view type?

[2018-10-16 02:30] dpgraham commented on #244
That's a relief that this is what's causing the problem. That will be easy enough to fix. The clients use mouse by default because they're Selenium clients and that's what the web uses. I'm going to put in a change that makes it use 'touch' even when it's mouse because its rare to use mouse on mobile.

React Native shouldn't make a difference. Is the element already on screen when you 'find' it? I

[2018-10-16 10:39] greenkeeper[bot] opened #246 "An in-range update of appium-base-driver is breaking the build 🚨"
## The dependency [appium-base-driver](https://github.com/appium/appium-base-driver) was updated from `3.9.0` to `3.9.1`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-base-driver-3.9.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-base-dri

[2018-10-16 17:05] #246 closed

[2018-10-16 17:56] juandg commented on #244
@dpgraham The element is off the screen, that's why I needed this scrolling action to work so I could scroll to it and then click it. If I try to click on it while it's off the screen, I get an error, which makes sense.

The element has a unique accessibility id and I'm able to find it using different Python strategies even when it's off screen but after finding it, the UI never scrolls down to br

[2018-10-16 18:29] dpgraham commented on #244
@juandg Actually I think the issue may be that the element is being rendered but it's not on the screen. Which the scroll-to behaviour doesn't work for. So yeah, I would just stick with using the scroll actions.

[2018-10-16 20:27] dpgraham opened #247 "Remove warning from `appium/appium` about it being work-in-progress"
Once we're happy with the Espresso driver and feel it's ready for production use, remove the warning in `appium/appium` saying that it's not ready for production and update the issue template to tell people not to post issues here and post them at `appium/appium/issues` instead.

[2018-10-16 20:33] dpgraham commented on #110
I'm going to work on this now.

I think this needs to be an `opt-in` feature. Users should have to set a capability called `injectInternetPermission=true`.

This is so that users don't have their apk's unknowingly tampered with _and_ so that they're aware of the possibility of a permission being set to true and the tests potentially returning false positives.

[2018-10-16 20:39] mykola-mokhnach commented on #110
There is a primitive for checking that in appium-adb already called `hasInternetPermissionFromManifest`. I'd simply throw an exception if the corresponding permission is missing

[2018-10-16 20:47] dpgraham opened #249 "Implement scrollTo and swipe actions"
Espresso has scrollTo, swipeLeft, swipeRight, swipeDown and swipeUp actions (https://developer.android.com/images/training/testing/espresso-cheatsheet.png)

We should add mobile commands that implement these features.

Swipe can be identical to what we do in XCUITest (`execute("mobile: swipe", {direction: "left|right|up|down"})`)

scrollTo can be `execute("mobile: scrollTo", {element: "<element-uu

[2018-10-16 20:58] dpgraham commented on #110
@mykola-mokhnach Yeah that's what I'll do by default.

Do you not think it's worth the time to a capability that injects it into the manifest? It probably is pretty rare that this permission isn't set.

[2018-10-16 21:01] mykola-mokhnach commented on #110
I would say it is an overkill. Lets make it simple

[2018-10-16 23:01] dpgraham commented on #244
@juandg Actually, one more thing you can try (if you have time, of course)

After you've located the element, can you run this:

[code]

[2018-10-17 16:53] #99 closed

[2018-10-17 16:53] dpgraham commented on #127
Added to README

[2018-10-17 16:53] #127 closed

[2018-10-17 16:56] #244 closed

[2018-10-17 17:45] #249 closed

[2018-10-17 21:34] juandg commented on #244
@dpgraham I tried using `move to` targeting the button as you suggested but I get the following error:

[code]

[2018-10-18 19:59] greenkeeper[bot] opened #253 "An in-range update of appium-support is breaking the build 🚨"
## The dependency [appium-support](https://github.com/appium/appium-support) was updated from `2.23.0` to `2.24.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-support-2.24.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-support is a dire

[2018-10-18 22:13] #110 closed

[2018-10-18 22:53] dpgraham commented on #253
Travis flakiness

[2018-10-18 22:53] #253 closed

[2018-10-18 22:54] dpgraham commented on #96
Is this still happening for anyone? Seems to be working fine now.

[2018-10-18 22:57] #104 closed

[2018-10-19 00:58] KazuCocoa commented on #96
Let me try the latest driver.

[2018-10-19 19:01] greenkeeper[bot] opened #254 "An in-range update of appium-gulp-plugins is breaking the build 🚨"
## The devDependency [appium-gulp-plugins](https://github.com/appium/appium-gulp-plugins) was updated from `3.1.2` to `3.1.3`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-gulp-plugins-3.1.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-gu

[2018-10-19 23:37] #254 closed

[2018-10-20 09:16] greenkeeper[bot] opened #255 "An in-range update of appium-base-driver is breaking the build 🚨"
## The dependency [appium-base-driver](https://github.com/appium/appium-base-driver) was updated from `3.9.1` to `3.10.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-base-driver-3.10.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-base-d

[2018-10-22 12:59] #255 closed

[2018-10-22 20:02] dpgraham commented on #208
Let me know if this is still an issue.

[2018-10-22 20:02] #208 closed

[2018-10-23 00:11] #96 closed

[2018-10-23 11:12] greenkeeper[bot] opened #257 "An in-range update of appium-base-driver is breaking the build 🚨"
## The dependency [appium-base-driver](https://github.com/appium/appium-base-driver) was updated from `3.10.0` to `3.11.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-base-driver-3.11.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-base-

[2018-10-23 21:16] saikrishna321 opened #258 "1.9.2-beta.2 - Session termination not handled correctly"
Logs : https://gist.github.com/saikrishna321/be7657ebe173033bd1b7f64db3ee5768

Comment from @sravanmedarapu

regarding bind failed issue.., it’s because of the server not being closed properly
https://github.com/appium/appium-espresso-driver/blob/master/espresso-server/app/src/androidTest/java/io/appium/espressoserver/EspressoServerRunnerTest.java#L43

will spend sometime over the weekend to imple

[2018-10-23 21:19] saikrishna321 commented on #258
regarding wrong intent : https://gist.github.com/saikrishna321/262c2e66f305e9dc505a8793234f3b69#file-wrong-intent-handling-L147

Either App package and App activity of the previous session is picked

[2018-10-23 21:48] saikrishna321 opened #259 "mobile:swipe sends element ID as undefined to proxy"
Element Id is undefined when executing mobile commands

Latest Appium beta:

https://gist.github.com/saikrishna321/ae546a5843569173179b388ab59bdfeb

[code]

[2018-10-23 23:00] juandg opened #260 "Implement (or fix) response to `/alert/text` for manipulating Alert Dialog"
Calls to `/alert/text` using the Espresso Driver are returning `NotYetImplementedError: Method has not yet been implemented` when trying to act on an Alert Dialog. This call works as expected on other drivers like UIAutomator2 or XCUITest.

I see code [here](https://github.com/appium/appium-espresso-driver/blob/master/espresso-server/app/src/androidTest/java/io/appium/espressoserver/lib/handlers/G

[2018-10-24 06:31] #257 closed

[2018-10-24 08:07] ania-s opened #263 "Could not launch activity"
We modified our app (it's webview now) and I cannot any more start tests with appium-espresso-driver as I get the below error:

Appium log:

[2018-10-24 13:41] KazuCocoa commented on #263
What about specifying `appPackage` and `appActivity`?

[2018-10-24 13:56] ania-s commented on #263
Still the same error.

[2018-10-24 14:51] KazuCocoa commented on #263
[code]

Can you launch your app with `adb am start -n com.abc.app.dev/.com.abc.app.MainActivity`?
If you can't, you should specify `appActivity`  like `com.abc.app.MainActivity` or `.MainActivity` I guess. Maybe, it can launch `adb am start -n com.abc.app.dev/com.abc.app.MainActivity` or `adb am start -n com.abc.app.dev/.MainActivity` if it work with `.MainActivity`.

[2018-10-24 14:52] greenkeeper[bot] opened #264 "An in-range update of appium-support is breaking the build 🚨"
## The dependency [appium-support](https://github.com/appium/appium-support) was updated from `2.24.0` to `2.24.1`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-support-2.24.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-support is a dire

[2018-10-24 16:42] dpgraham commented on #259
@saikrishna321 Does `listview.getID()` return a UUID?

[2018-10-24 16:43] mykola-mokhnach commented on #258
I have an idea about what the problem can be

[2018-10-24 18:53] saikrishna321 commented on #259
@dpgraham yes `d3daabe5-f8e3-44a5-9ac8-2bcbe29070e9`

[code]

[2018-10-24 20:40] ania-s commented on #263
@KazuCocoa thank you for your help. Indeed I defined appPackage and appActivity wrongly. After your suggestion I modified the configuration and got it working with:
[code]

[2018-10-24 20:40] #263 closed

[2018-10-25 20:29] dpgraham commented on #259
This has been fixed

[2018-10-25 22:15] saikrishna321 commented on #259
@dpgraham i have tested and it works with elementId and not element.

With element
[code]

With elementId
[code]

[2018-10-25 22:17] dpgraham commented on #259
I just published a new one today. Are you using that?

[2018-10-25 22:29] saikrishna321 commented on #259
Yes i'm using the latest version. I just got the latest `[Appium] Creating new EspressoDriver (v1.0.2) session`

[2018-10-25 22:33] dpgraham commented on #259
That's odd.... I just checked `general.js` and this is the block of code:

[code]

[2018-10-25 22:39] saikrishna321 commented on #259
@dpgraham

[code]
listview is instance of Object so ${element} is getting [Object object]

[2018-10-25 23:07] saikrishna321 commented on #259
@dpgraham

[code]

returns

[code]

[code]

If its element.ELEMENT it works with element and elementId is not required

[2018-10-26 00:02] saikrishna321 commented on #259
@dpgraham for xcui-driver both element and elementId works. When element is given elementId is send and not the Object.

So to keep it consistent across drivers we need to send elementId when element is given

[code]

[2018-10-26 00:51] saikrishna321 commented on #259
@dpgraham please review the PR. I don't have access to this repo to added reviewers

[2018-10-26 15:48] dpgraham commented on #259
I think I understand now....

It should accept either

[code]

[2018-10-26 21:37] #264 closed

[2018-10-26 21:37] dpgraham commented on #260
Closing as fixed. Will re-open if this still doesn't work.

[2018-10-26 21:37] #260 closed

[2018-10-26 21:37] #259 closed

[2018-10-26 22:00] dpgraham opened #272 "Add more features to /actions"
`/actions` implements the W3C spec, but we could add to it further so that testers can make full use of the [Android MotionEvent API's](https://developer.android.com/reference/android/view/MotionEvent)

Some of the features we can add are:
* [ ] `pressure`, `size` and `orientation` (this would be alongside of `x` and `y`)
* [ ] Make `trackball`, `eraser` an input source (along with `mouse`, `touch

[2018-10-28 13:47] SrinivasanTarget commented on #272
@dpgraham Happy to help incase of any testing req on this.

[2018-10-29 16:11] saikrishna321 commented on #217
@appiumautouser can u try with the latest. I'm unable to reproduce this

[2018-10-29 22:21] #258 closed

[2018-10-31 01:37] KazuCocoa opened #276 "Referencing elements changes even I did not re-call find_element after calling scroll"
When I tested below method, the results of `el.text` was changed even the `el` didn't change.

## Client (Ruby)
[code]

`el.displayed?` also returns `true`. In this case, I beliave the `el.displayed?` should be false. `el.text` should return reference error or return _Custom_.

## Appium log
[code]

## find_element(:accessibility_id, 'Custom')
<img src="https://user-images.githubusercontent.com/55

[2018-10-31 01:38] KazuCocoa commented on #276
@dpgraham Do you have any idea?

I tested with 1.0.3.

[2018-10-31 02:56] nichotined commented on #227
Hi, is there any way to pass this?

[2018-10-31 16:05] dpgraham commented on #276
I'll have a look today.

[2018-10-31 16:19] dpgraham commented on #276
I can reproduce it. Working on a fix now.

[2018-10-31 16:23] dpgraham commented on #276
This one's a headscratcher.

Does Android recycle Views?

[2018-10-31 16:31] dpgraham commented on #276
Answer: Yes

https://stackoverflow.com/questions/11945563/how-listviews-recycling-mechanism-works

[2018-10-31 16:31] dpgraham commented on #276
I'll have to find some way to cache views so they don't get re-used.

[2018-10-31 17:57] saikrishna321 opened #277 "find elements even before the transition is completed"
@dpgraham latest espresso_driver finds elements and returns a 200 OK even before the transition in completed.

Refer the video:
https://youtu.be/bTVlM-fRTZQ

https://gist.github.com/saikrishna321/12d8caf12174a506f9b44032aaa5b8b4

https://gist.github.com/saikrishna321/12d8caf12174a506f9b44032aaa5b8b4#file-espresso-wait-error-L239

click gave 200 ok, but in the video if u see the click happened when

[2018-10-31 21:11] dpgraham commented on #277
I just tried running this as a test and had no issue:

[code]

Are you saying that in your case, the transition isn't finishing and because it's not finishing it's not able to click the element?

[2018-10-31 21:19] saikrishna321 commented on #277
isn't finishing and click has happened successfully and the 3rd screen is not visible because it's not finished the transition. In the video check at 0:13

[2018-10-31 21:23] dpgraham commented on #277
Can you post your client code? I'm not able to reproduce this.

[2018-10-31 21:29] saikrishna321 commented on #277
Android Emulator version: API 25 Android 7.1.1

[code]

I just tried it on Android Emulator API 28: Android P and it works fine ..

[2018-11-02 00:49] KazuCocoa opened #279 "An element outside display appears when we call find_elemnt"
# Steps

1. Scroll up/down to make an element gone
    -e.g.: _Custom_ named element
2. Call `find_element` the element
3. Then, the element appears in the screen
    - This  happens when we call getting attributes method like `displayed?`

# animation gif

![image](https://user-images.githubusercontent.com/5511591/47887666-040fe500-de84-11e8-81a2-ee8ed7f50fd0.png)

---

If users have a logic maki

[2018-11-02 00:49] KazuCocoa commented on #276
thanks! I ensured it 🎉

Then I found another issue => https://github.com/appium/appium-espresso-driver/issues/279
could you take a look at it if you have a chance?

[2018-11-02 00:49] #276 closed

[2018-11-02 07:02] mykola-mokhnach commented on #279
I assume this is going to be fixed by https://github.com/appium/appium-espresso-driver/pull/278

[2018-11-02 10:15] ania-s opened #280 "Make Espresso Server port configurable"
It looks that the espresso server port is 8080 and it cannot be configured as a part of Appium Desired Capabilities. And if the testing app uses the same port then appium-espresso-driver cannot be used for its testing.

Can the espresso server port be made configurable?

[2018-11-02 12:03] ania-s opened #281 "The elements of webview application are not accessible"
When running automated tests with appium-espresso-driver agains Android webview app no elements of this app are accessible. I can only see the MainWebView element (the whole app), however, anything that is inside (buttons, labels, textfields etc) cannot be accessed.

[2018-11-02 18:33] dpgraham commented on #281
Yeah, that's expected. Espresso Server won't have access to WebView's natively. You need to switch context.

[2018-11-02 18:33] dpgraham commented on #280
That's a good idea. I'll add that to the list of features/fixes

[2018-11-02 18:41] dpgraham commented on #280
We should probably also change the default port to something more random so that it's unlikely to clash with another port.

[2018-11-02 18:48] dpgraham commented on #279
So this behaviour is actually _expected_

When finding elements using `accessibility-id` it makes use of `onData` to try to scroll the element into view if the element isn't on the screen (see https://medium.com/androiddevelopers/adapterviews-and-espresso-f4172aa853cf for reference)

I suppose this could be a problem. So I think we have some options:

1. Leave it as is, and inform users in documen

[2018-11-02 20:18] ania-s commented on #281
Well if I try to do it I get the following error:

[2018-11-02 21:04] dpgraham commented on #281
What happens if you try to get the source? Does it return the WebView's HTML?

[2018-11-02 23:21] saikrishna321 commented on #280
@dpgraham @ania-s the port is configurable, you can set the _systemPort_ to unique and thats how i tested the parallel run

https://github.com/appium/appium-espresso-driver/blob/6277faba2883443a7c7bb88385d20571305ba983/lib/driver.js#L144

[2018-11-03 00:37] KazuCocoa commented on #279
I see. It sounds reasonable to keep this feature. 👍
_1_ is probably enough as the 1st release.

One thing is below comment in my description.

This happens in below case as well.

[code]

Then, returning `false` is proper in this case. Can we return _false_ in this case? (What do you think?)

[2018-11-03 20:32] dpgraham commented on #280
Awesome! Well that makes it easy.

I still think we should change the default to something other than 8080 though.

[2018-11-03 22:32] saikrishna321 commented on #280
@dpgraham should we change to as UIA2 https://github.com/appium/appium-uiautomator2-driver/blob/70c1dacf1d97348d0fa9d4b613692d783488ceb7/lib/driver.js#L24

[2018-11-04 04:05] dpgraham commented on #280
Maybe 6791 so those 2 can't clash

[2018-11-04 09:16] saikrishna321 commented on #277
@dang any luck on this ? The  app i'm testing has lot of transitions and i'm unable to test espresso on my CI.

[2018-11-04 14:35] dang commented on #277
@saikrishna321 I suspect you meant @dpgraham

[2018-11-05 08:06] ania-s commented on #281
And if I try to switch to Webview context using webdriver method [context](http://webdriver.io/api/mobile/context.html) I get the following error:

[2018-11-05 17:37] dpgraham commented on #281
Thanks @ania-s .... looks like it's a bug with the Espresso driver. I'll test this myself.

[2018-11-05 18:38] dpgraham commented on #277
@saikrishna321 I haven't had any luck on this. I kind have doubts that it's even fixable. What happens have you add a delay between transitions?

[2018-11-05 18:56] dpgraham commented on #281
I can reproduce it now. Working on a fix. Thanks for your help @ania-s!

[2018-11-05 21:41] dpgraham opened #284 "Dearchitect Android, UiAutomator2 and Espresso Drivers"
Currently, there's way too much duplication of code between these drivers. We need to go through these drivers and de-duplicate much of it.

[2018-11-06 21:32] greenkeeper[bot] opened #287 "An in-range update of bluebird is breaking the build 🚨"
## The dependency [bluebird](https://github.com/petkaantonov/bluebird) was updated from `3.5.2` to `3.5.3`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fbluebird-3.5.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

bluebird is a direct dependency of this

[2018-11-06 21:33] #287 closed

[2018-11-06 21:36] #227 closed

[2018-11-07 01:49] greenkeeper[bot] opened #288 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `dependency` [@babel/runtime](https://www.npmjs.com/package/@babel/runtime) was updated from `7.1.2` to `7.1.5`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fmonorepo.babel7-7.1.5).

This version is **covered** by your **current version range** and after updating it in

[2018-11-07 21:37] dpgraham opened #290 "Investigate Espresso web atoms"
To automate Webviews in Espresso, there's a special library that makes use of Selenium Atoms to perform operations on Webviews.

This could possibly be implemented in the Appium Driver and could even let us automate webviews without needing Chromedriver and without changing context

Acceptance Criteria
* [ ] Determine if it's worth the time to make use of this library
* [ ] If yes, plan how it wil

[2018-11-07 21:59] mykola-mokhnach commented on #290
I'd say the implementation based on web atoms will be the "poor man" one. Chromedriver provides much broader set of features in comparison to raw javascript stuff in atoms.

[2018-11-07 22:09] dpgraham commented on #290
Yeah I think you're right @mykola-mokhnach .... we would keep Chromedriver, but we could use this for hybrid apps that are mostly native but may need some occasional, basic WebView manipulation.

[2018-11-07 22:15] jlipps commented on #290
This could be interesting, but as @mykola-mokhnach points out, Chromedriver should remain the "real" option. Which makes me wonder whether having two ways of doing this would be unnecessarily complex or confusing for users. I also would want it to use the same context API.

But I would be open to a capability `useSeleniumAtoms` or similar that makes the context API use this instead of the alternat

[2018-11-07 22:38] dpgraham commented on #290
I forgot to provide the link: https://developer.android.com/training/testing/espresso/web

The possible difference between this and using Chromedriver would be that with Espresso Web you could run webview commands in the same context as native whereas Chromedriver would require switching context.

It could look something like this:

[code]

[2018-11-07 22:58] jlipps commented on #290
that still seems confusing to me. what if there is a clash between a web id and an android id? even if using the context api does nothing other than set an internal flag, i think it'd be worth it to maintain the same usage as elsewhere in appium

[2018-11-08 22:11] dpgraham opened #291 "Get WebView tests working on Travis"
Right now, webview tests are commented out. Need to figure out problems with chromedriver.

[2018-11-09 13:47] EshaDoda opened #292 "Espresso not able to recognise the element, whereas UIAutomator2 on the other hand performs fine"
Hi,

I am getting the below error while trying to click on an element using Espresso with Appium, however if i change the automation name back to UiAutomator2 in the serenity.properties file ("appium.dc.automationName=UiAutomator2"), I am able to perform the desired function without any issues.

**Environment details:**
Appium Server version: 1.9.1
serenity.version: 1.9.31
selenium.version :3.13.0

[2018-11-09 20:44] imurchie commented on #291
Our logic uses `chromedriver --version` to fifure out the version. 2.9, however, just starts when passed `--version`, so the whole thing hangs. I guess that logic needs to be fixed. As well as Chromedriver handling of the webview on the device, which seems un-automatable (2.12 ought to work, but fails).

[2018-11-13 07:19] nichotined opened #294 "Have set geolocation works"
Given automationName==UiAutomator2
Then I can use set geolocation method

Given automationName==espresso
Then I can't use set geolocation method
[code]

Ref https://appium.readthedocs.io/en/stable/en/commands/session/geolocation/set-geolocation/

[2018-11-13 07:44] saikrishna321 commented on #292
@EshaDoda can u pls try with latest version and confirm if its fixed

[2018-11-13 09:58] nichotined commented on #227
Hi @dpgraham, I can run the command without any error, but It doesn't swipe actually.
`action.press(x=start_x, y=start_y).move_to(x=end_x, y=end_y).perform()`
Below the log
[code]
I am using appium beta 1.9.2 beta 2

[2018-11-13 11:54] EshaDoda commented on #292
Hi @saikrishna321 ,
After installing the latest espresso version, it has stopped opening the application itself.
Earlier it was at least loading the application.

**EspressoDriver (v1.0.0-beta.16)**

Please find the appium server logs below:
Last login: Fri Nov  9 14:48:37 on ttys002
Eshas-MacBook-Air:~ eshadoda$ appium -a 127.0.0.1 -p 4723
[Appium] Welcome to Appium v1.9.1
[Appium] Non-default se

[2018-11-13 12:20] #294 closed

[2018-11-13 13:00] saikrishna321 commented on #292
https://www.npmjs.com/package/appium-espresso-driver/v/1.1.1 u need to have the latest

[2018-11-13 16:15] imurchie commented on #291
The technical problems with CD install/start should be handled by https://github.com/appium/appium-chromedriver/pull/103. Not sure if this will actually fix the CI environment here.

[2018-11-13 16:45] dpgraham commented on #291
@imurchie the CI environment I don't think is the problem.

[2018-11-13 16:50] imurchie commented on #291
I can't get, locally, any version of CD to work with the Android version and webview that are available on Travis.

[2018-11-13 17:00] dpgraham commented on #291
Oh, so this is an issue that pre-dates the Espresso driver?

[2018-11-13 17:08] imurchie commented on #291
It seems to. We don't run any Chrome tests in CI for any of the other Android drivers, I don't think.

[2018-11-14 04:01] nichotined opened #296 "Swipe needs long value while sometimes I get float"
Given x, y in float type
When I do swipe
Then I will get below error

[code]

[2018-11-14 05:02] nichotined opened #297 "An unknown server-side error occurred while processing the command. Original error: java.lang.NullPointerException: Attempt to invoke interface method 'int android.widget.Adapter.getCount()' on a null object reference"
Hi, I found `An unknown server-side error occurred while processing the command. Original error: java.lang.NullPointerException: Attempt to invoke interface method 'int android.widget.Adapter.getCount()' on a null object reference while sending a get source method.`
Somehow after changing to "this screen", it will throw this error.

### Environment

- AVD android 9
- appium 1.9.2 beta 2
- Capabili

[2018-11-14 07:10] mykola-mokhnach commented on #297
This has been fixed by https://github.com/appium/appium-espresso-driver/pull/293

[2018-11-14 07:19] nichotined commented on #297
@mykola-mokhnach How do I get that update?

[2018-11-14 07:20] mykola-mokhnach commented on #297
Wait until it is published or built the server from sources

[2018-11-14 07:44] EshaDoda commented on #292
Hi @saikrishna321 ,

I installed the latest version 1.1.1 , ran "npm run e2e-test" - all the 10 scripts passed with APIDemos.apk.

However when i am trying to work on my application, it is picking up v1.0.0-beta.16 and installing the apk fine on the emulator, but after that it fails.

Please let me know if i am missing something.

Session creation:
===============

Error logs:-
=================

[2018-11-14 09:42] saikrishna321 commented on #292
You need to uninstall and install the latest appium beta `npm install -g appium@beta`

[2018-11-14 10:42] EshaDoda commented on #292
Hi @saikrishna321 ,

Installed latest appium beta version, getting some other error similar to some logs posted by you at https://gist.github.com/saikrishna321/be7657ebe173033bd1b7f64db3ee5768

Last login: Wed Nov 14 15:38:41 on ttys003
Eshas-MacBook-Air:~ eshadoda$ appium
[Appium] Welcome to Appium v1.9.2-beta.2
[Appium] Appium REST http interface listener started on 0.0.0.0:4723
[HTTP] --> POST

[2018-11-14 14:52] saikrishna321 commented on #292
can you make sure the given activity is correct and also please Can you try setting forceEspressoRebuild=true in the caps?

[2018-11-14 15:57] mykola-mokhnach commented on #297
@saikrishna321 yes it is

[2018-11-14 18:07] #291 closed

[2018-11-14 18:16] #288 closed

[2018-11-15 02:04] greenkeeper[bot] opened #300 "An in-range update of appium-chromedriver is breaking the build 🚨"
## The devDependency [appium-chromedriver](https://github.com/appium/appium-chromedriver) was updated from `4.7.0` to `4.8.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-chromedriver-4.8.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-ch

[2018-11-15 09:49] EshaDoda commented on #292
I have used this already- forceEspressoRebuild=true, but it didn't help.
I removed the apk, and let the script install it and it does install it but doesn't perform any action on the script after that.

Just out of curiosity- My serenity properties file is under /src/test/resources folder, does it cause any issue?

[2018-11-15 12:36] #300 closed

[2018-11-15 12:38] saikrishna321 commented on #292
@dpgraham

`
[debug] [W3C] Caused by: java.lang.RuntimeException: Unable to resolve activity for: Intent { act=android.intent.action.MAIN flg=0x10000000 cmp=io.appium.android.apis/application.mobile.ng.commerce.core.init.view.SplashActivity }
`

given appPAckage and appActivity

`
[Appium] appActivity: application.mobile.ng.commerce.core.init.view.SplashActivity
[Appium] appPackage: application.mo

[2018-11-16 12:45] VinayakaMayura opened #302 "Permission denial exception starting instrumentation"
Permission denial exception while starting instrumentation

Appium: latest beta from source
Latest Java client from latest commit
Logs:  https://gist.github.com/VinayakaMayura/1acfd43dfbcadee9fe39134a6eecf633
Same even after setting `"forceEspressoRebuild" : true,`

Also same on Android API 7, 8 and 9 devices.

Executing command from terminal resulted the same:
[code]

[2018-11-16 12:46] VinayakaMayura commented on #302
@mykola-mokhnach please suggest

[2018-11-18 09:15] KazuCocoa commented on #302
What happens when you remove `noSign`?

[2018-11-19 05:05] SrinivasanTarget commented on #302
@KazuCocoa No luck. Issue remains as is after removing `noSign` and upgrading to `1.2.0` espresso driver. @mykola-mokhnach FYI

[2018-11-19 06:35] nichotined commented on #302
Try to uninstall the app and espresso from the device

[2018-11-19 17:03] dpgraham commented on #296
@nichotined Can you provide the logs as well?

[2018-11-19 17:10] dpgraham commented on #296
Never mind, I can reproduce the issue locally.

[2018-11-19 18:00] dpgraham commented on #296
The parser expects the x and y values to be integers (see [java client](https://seleniumhq.github.io/selenium/docs/api/java/) for example). So you should provide `1274` instead of `1274.6`. But I will look at making the error message more helpful.

[2018-11-19 18:04] dpgraham commented on #280
Closed as resolved.

[2018-11-19 18:04] #280 closed

[2018-11-19 19:30] SrinivasanTarget commented on #302
@dpgraham Sure will share it tomorrow morning

[2018-11-19 21:51] dpgraham commented on #296
I just put in a PR.... we're going to accept floats, but round the values.

[2018-11-19 22:08] dpgraham commented on #217
Closing due to inactivity. Will re-open if this is still a problem.

[2018-11-19 22:08] #217 closed

[2018-11-20 10:04] greenkeeper[bot] opened #304 "An in-range update of appium-adb is breaking the build 🚨"
## The dependency [appium-adb](https://github.com/appium/appium-adb) was updated from `6.27.0` to `6.27.1`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-adb-6.27.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-adb is a direct dependency of

[2018-11-20 11:03] VinayakaMayura commented on #302
Logs: https://gist.github.com/VinayakaMayura/0fea681c57422a0f97d65191e9375ddf#file-espresso-log

@dpgraham

[2018-11-20 11:14] saikrishna321 commented on #302
@VinayakaMayura i don't see any errors in the logs now

[2018-11-20 18:35] #304 closed

[2018-11-21 05:08] VinayakaMayura commented on #302
Not getting the permission denial exception now.

Noticing session creation exception when noSign is set to false

[2018-11-21 09:21] EshaDoda commented on #292
Hi,

Today i checked with Espresso-version 1.2.1, I am seeing the same issue:

[debug] [W3C] Encountered internal error running command: SessionNotCreatedError: A new session could not be created. Details: io.appium.espressoserver.lib.handlers.exceptions.SessionNotCreatedException: java.lang.RuntimeException: Could not launch activity

[2018-11-21 22:14] greenkeeper[bot] opened #306 "An in-range update of appium-adb is breaking the build 🚨"
## The dependency [appium-adb](https://github.com/appium/appium-adb) was updated from `6.27.2` to `6.28.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-adb-6.28.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-adb is a direct dependency of

[2018-11-21 23:27] greenkeeper[bot] opened #307 "An in-range update of appium-android-driver is breaking the build 🚨"
## The dependency [appium-android-driver](https://github.com/appium/appium-android-driver) was updated from `4.6.0` to `4.7.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-android-driver-4.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium

[2018-11-22 00:44] greenkeeper[bot] opened #308 "An in-range update of appium-chromedriver is breaking the build 🚨"
## The devDependency [appium-chromedriver](https://github.com/appium/appium-chromedriver) was updated from `4.8.0` to `4.9.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-chromedriver-4.9.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-ch

[2018-11-22 00:44] greenkeeper[bot] opened #309 "An in-range update of appium-base-driver is breaking the build 🚨"
## The dependency [appium-base-driver](https://github.com/appium/appium-base-driver) was updated from `3.11.2` to `3.12.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-base-driver-3.12.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-base-

[2018-11-22 06:06] nichotined commented on #296
@dpgraham
is this related with it?
[code]

[2018-11-22 06:51] mykola-mokhnach commented on #302
Try to delete the espresso server package manually from the device first

[2018-11-22 06:56] nichotined commented on #296
So I found the root cause, when I add wait, it will throws error
POST http://localhost:4798/wd/hub/session/8896d495-fbd2-457e-8ef5-47172a63b495/touch/perform
Body
[code]
@dpgraham

[2018-11-22 09:10] nichotined opened #310 "Swipe throws an error java.lang.NullPointerException"
**ENV**
[code]
**With Wait**
*POST*
`http://localhost:4798/wd/hub/session/9932a90d-f9f6-4198-99a0-d3e1255330af/touch/perform`
[code]
RETURN 500
[code]

**Without Wait**
*POST*
`http://localhost:4798/wd/hub/session/9932a90d-f9f6-4198-99a0-d3e1255330af/touch/perform`
[code]
RETURN 200
[code]
**But**
Without "Wait" I can't perform swipe correctly.
I was able to do it in previous version.

[2018-11-22 18:00] VinayakaMayura commented on #302
@mykola-mokhnach  tried by clearing espresso server manually but no luck.

Logs after clearing espresso server manually each time

noSign set to true
https://gist.github.com/VinayakaMayura/81dff2ac4fbb7742b9a0ee3878369abc

noSign set to false
https://gist.github.com/VinayakaMayura/a00745c42c5305b402462c2783b67f1a

[2018-11-22 19:03] mykola-mokhnach commented on #302
The second log is perfectly fine. No errors on server side

[2018-11-23 06:46] VinayakaMayura commented on #302
@mykola-mokhnach  though there are no exceptions in the log, app gets installed and launches but no actions performed for both the cases of noSign

[2018-11-23 09:42] VinayakaMayura commented on #302
Thanks guys, looks like client side issue. Will check it form our side.

[2018-11-23 09:42] #302 closed

[2018-11-23 10:19] SrinivasanTarget opened #311 "findElementsFromElement and findElementFromElement always throws ProxyRequestError"
findElementsFromElement and findElementFromElement always throws ProxyRequestError

Appium Server: Latest source
Java client: Latest version
Logs [here](https://gist.github.com/SrinivasanTarget/9c786bbfc6c3eb83eec924aa7d010ee8#file-findelementsfromelement-L1961)

@mykola-mokhnach @dpgraham ping

[2018-11-23 10:32] nichotined commented on #311
Try look at the source and find your elemet first.

[2018-11-23 10:45] saikrishna321 commented on #311
@SrinivasanTarget does this happen on specific component ?

[2018-11-23 10:49] nichotined commented on #310
@dpgraham do you think it is expected?

[2018-11-23 11:08] SrinivasanTarget commented on #311
@nichotined Source is fine... Its not problem with source and seems like a element detection issue.

@saikrishna321 Its not w.r.t specific component.

[2018-11-23 17:37] dpgraham commented on #310
@nichotined definitely not. Null pointer is always a mistake. I'll have a look today. Thanks for opening this.

[2018-11-23 17:44] dpgraham commented on #310
@nichotined Can you update to the latest beta? `npm install -g appium@beta`... the latest currently is `1.10.0-beta.5`.

There's a fix that changed this line:

`if (duration != null && (type == POINTER && subType == POINTER_MOVE) || subType == PAUSE)`

to this:

`if (duration != null && ((type == POINTER && subType == POINTER_MOVE) || subType == PAUSE))`

I'm pretty certain that this will fix it.

[2018-11-23 17:48] nichotined commented on #310
@dpgraham will update after trying. Thanks!!

[2018-11-23 19:19] nichotined commented on #310
@dpgraham I have updated to appium `1.10-beta 5`
but still encountering this error
[code]

log [https://gist.github.com/nichotined/c050244144239edcaf9df487045f09e5](url)

[2018-11-23 20:49] dpgraham commented on #310
This doesn't link to the gist: https://github.com/appium/appium-espresso-driver/issues/url

[2018-11-23 20:52] dpgraham commented on #310
Could you also check the contents of the Espresso Driver package.json to verify that it's 1.2.3....

Path to package.json is: `$(npm -g appium)/appium/node_modules/appium-espresso-driver/package.json`

[2018-11-23 22:47] dpgraham commented on #311
Try again with `appium@1.10.0-beta.5`

[2018-11-23 22:47] #309 closed

[2018-11-23 22:48] #308 closed

[2018-11-23 22:48] #307 closed

[2018-11-23 22:48] #306 closed

[2018-11-23 22:54] #281 closed

[2018-11-24 05:31] nichotined commented on #310
yes it is v1.2.3
[code]

[2018-11-24 05:31] nichotined commented on #310
updated link

[2018-11-26 07:41] SrinivasanTarget commented on #311
@dpgraham @mykola-mokhnach Issue persists still. Updated logs [here](https://gist.github.com/SrinivasanTarget/8c1c9563b29b27a6ea0599f47ae7199c#file-findelementfromelement-L711)

[2018-11-26 07:52] mykola-mokhnach commented on #311
Are you sure the element exists on the page? Can you also attach the page source?

[2018-11-26 08:03] SrinivasanTarget commented on #311
@mykola-mokhnach I have updated the source [here](https://gist.github.com/SrinivasanTarget/8c1c9563b29b27a6ea0599f47ae7199c#gistcomment-2768783)

[2018-11-26 08:05] SrinivasanTarget commented on #311
i tried findElementFromElement at couple of places in different different screens but i see response is always same. It works fine in UIA2 mode.

[2018-11-26 08:51] mykola-mokhnach commented on #311
What is the actual search request? What are the locators of the root and descendant elements?

[2018-11-26 11:25] ania-s opened #314 "ECONNRESET after restarting the app"
It looks that I cannot test anything after I restart the android app as I get the following error (tested on real android device Galaxy Tab S2):

The full log:

[debug] [35m[ADB][39m Running '/Users/szarek/Library/Android/sdk/platform-tools/adb -P 5037 -s d0ac6cf4 shell am force-stop com.abc.app.dev'
[debug] [35m[Espresso][39m [Instrumentation][STDOUT] io.appium.espressoserver.EspressoServerRu

[2018-11-26 11:34] ania-s commented on #314
Yes, I have. But the problem is that it happens every single time I restart the app. So it doesn't look like it's intermittent.

[2018-11-26 11:39] nichotined commented on #314
@ania-s Could you give the environment details?

[2018-11-26 11:46] ania-s commented on #314
@nichotined
ADB: 1.0.40
Samsung Galaxy Tab S2 (Android version 7.0)
Appium: 1.10.0-beta.4
Appium-chromedriver: 4.9.0
Mac HighOS Sierra (10.13.6)

Anything else I should include?
I will try it with a different device as well, I just need to get it.

[2018-11-26 12:54] mykola-mokhnach commented on #310
Of course you can and you are welcome to.
Here is the documentation we have https://github.com/appium/appium/tree/master/docs/en/contributing-to-appium

[2018-11-26 12:56] mykola-mokhnach commented on #314
I would say this behaviour is expected. It is necessary to quit the driver and start it again if the app is restarted.

[2018-11-26 13:17] ania-s commented on #314
If I start the automation with Appium I am able to restart the app with the UiAutomator and continue testing without any manual commands. Testing on iOS with Appium allows this as well. So if it's expected with espresso-driver shouldn't it be done automatically as a part of 'restart' command? Or how can I do it if I don't use espresso-driver directly but it's used by Appium?

[2018-11-26 13:38] mykola-mokhnach commented on #314
Both UIA and XCUITest use separate servers while Espresso runs on top of application package and is terminated as soon as this package is terminated. Please consider deeper framework architecture investigation to know more about it.

[2018-11-26 13:55] ania-s commented on #314
Ok thanks for the explanation. I will try to find some more time to check the espresso-driver, however, a more detailed documentation would be helpful.
Anyway it's clearer now, however, even if the espresso-driver is terminated as soon as the package is terminated I would expect it's started the moment the app is started again. Especially if it was started automatically on the first run. If I star

[2018-11-26 18:54] jlipps commented on #314
@mykola-mokhnach @dpgraham if the espresso server dies in a non-recoverable way after the app itself quits, should we disable some of the app management commands for this driver so that users cannot shoot themselves in the foot with them?

[2018-11-26 19:03] mykola-mokhnach commented on #314
Nah, lets be democratic %)

[2018-11-26 20:56] dpgraham commented on #310
@nichotined I'd be very happy to have contributions! You can get started by just checking out this repo and running it on your machine. You need to have NodeJS installed and you need to have Android SDK installed (installing Android Studio will do the trick). There's some documentation on how to do this in the README.md.

Feel free to have a look at the issues and let me know if any of them intere

[2018-11-26 21:13] #311 closed

[2018-11-27 03:59] dpgraham commented on #290
So I've thought about this a lot, and I _definitely_ think we should implement this, for a couple of reasons:
* At Sauce Labs, one of the constant problem that crops up is problems with ChromeDriver version mismatching and we've even had to resort to compiling our own ChomeDriver to support older versions. This would not have such a problem.
* The Espresso Webdriver Atoms use idling resource, so w

[2018-11-27 04:14] nichotined commented on #310
@dpgraham my latest test (1.3 release), it didn't throw any error anymore.
but it didn't wait at all.

[2018-11-27 05:33] jlipps commented on #290
Yeah, I'm cool with that approach.

[2018-11-27 09:06] dpgraham commented on #310
There's the mobile swipe command

[2018-11-27 17:04] dpgraham commented on #310
When you say that it didn't "wait" are you saying it didn't wait the 500ms?

That seems like a pretty low wait time and wouldn't be very noticeable. Have you tried waiting for a longer time, like 5000ms?

(p.s.: closing is resolved, but can still discuss)

[2018-11-27 17:04] #310 closed

[2018-11-27 17:16] nichotined commented on #310
I did @dpgraham
It didn't wait at all

[2018-11-27 17:19] dpgraham commented on #310
@nichotined How long was the wait?

[2018-11-27 17:21] dpgraham commented on #310
Wait...  I just noticed the problem.

The actions json is: `{ "action": "wait", "options": { "ms": "500" } }`

It should be: `{ "action": "wait", "duration": 500 }`

[2018-11-27 17:50] dpgraham opened #320 "Refactor SourceDocument to use TreeIterables"
AndroidX has helper methods that traverse the view hierarchy (https://developer.android.com/reference/androidx/test/espresso/util/TreeIterables)

We should be using this to construct the SourceDocument

[2018-11-27 22:57] dpgraham opened #323 "Implement Espresso Contrib API's"
[Espresso Contrib](https://developer.android.com/reference/androidx/test/espresso/contrib/package-summary) has a handful of pretty useful API's that we could easily make available to Appium.

Acceptance Criteria:
* [ ] DrawerActions (`mobile: openDrawer`, `mobile: closeDrawer`)
* [ ] NavigationViewActions (`mobile: navigateTo`)
* [ ] PickerActions (`mobile: setDate`, `mobile: setTime`)
* [ ] ViewP

[2018-11-28 09:56] EshaDoda commented on #292
Hi,

I tried with Appium version-  Appium v1.10.0 & Espresso-version - EspressoDriver (v1.3.0)- getting the below error:
- initialised appium on 127.0.0.1 port

[debug] [W3C] Encountered internal error running command: UnknownError: An unknown server-side error occurred while processing the command. Original error: Could not proxy command to remote server. Original error: Error: socket hang up
[de

[2018-11-28 22:04] dpgraham commented on #292
@EshaDoda Do you have logcat logs for when the app crashes?

[2018-11-28 22:52] jlipps commented on #323
could navigateTo just overload set url instead?

[2018-11-28 23:01] dpgraham opened #328 "Implement GeneralSwipeAction and GeneralClickAction"
We have the Actions API already but I see no reason not to expose [GeneralSwipeAction](https://developer.android.com/reference/androidx/test/espresso/action/GeneralSwipeAction) and [GeneralClickAction](https://developer.android.com/reference/androidx/test/espresso/action/GeneralClickAction) to the Espresso Driver.

[2018-11-28 23:09] jlipps commented on #328
yeah, if we can use an interface as near as possible to mobile: scroll and mobile: swipe that already exist for ios, that would be great.

[2018-11-29 00:19] dpgraham commented on #323
@jlipps it's for navigating to a view on (NavigationViewActions)[https://developer.android.com/reference/androidx/test/espresso/contrib/NavigationViewActions] so it's unrelated to going to a url/activity.

[2018-11-29 19:18] dpgraham commented on #328
Yeah, we already have `mobile: swipe` for Espresso, we'll just add to it.

[2018-11-29 19:44] mykola-mokhnach commented on #290
Linking https://developer.android.com/reference/androidx/test/espresso/web/webdriver/package-summary

[2018-12-01 23:34] saikrishna321 opened #331 "ClassCastException android.support.v4.view.ViewPager"
@dpgraham @mykola-mokhnach

Picked the latest espresso from master v 1.3.0 to test new mobile: commands.

### Code to replicate

[code]

### Error Log:
[code]

Sample App:

[app-debug.apk.zip](https://github.com/appium/appium-espresso-driver/files/2636412/app-debug.apk.zip)

## More debugging:

As @mykola-mokhnach  suggested I Migrated the project to AndroidX and gave a try. Manually i was able to

[2018-12-03 23:38] saikrishna321 commented on #331
@dpgraham Agree. In this case the ViewType for scrollToPage works only on ViewPager type and the application has ViewPager type.

[2018-12-05 10:56] greenkeeper[bot] opened #336 "An in-range update of appium-support is breaking the build 🚨"
## The dependency [appium-support](https://github.com/appium/appium-support) was updated from `2.24.2` to `2.25.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-support-2.25.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-support is a dire

[2018-12-06 06:43] #336 closed

[2018-12-06 06:54] mykola-mokhnach commented on #222
Try the recent beta release it should perform properly

[2018-12-06 07:39] ania-s commented on #314
Any news about this one? I mean even if the driver is not brought up again automatically after the app is restarted there should be a way to handle it manually. Is there a way to do it? If the driver is killed and there is no way to restart it it's really bad as many tests require that app is restarted.

[2018-12-11 16:44] rajdeepv opened #340 "Server crash with OOM"
While trying Espresso on one of our app, on a screens which have a lot of elements in the hierarchy, finding by XPath brings down Espresso server with Out Of Memory. The Xpath was `{:xpath=>"//*[@text='Loading...']"}`.

Same thing happens when I try to get page source on that screen

[code]

[2018-12-11 17:33] mykola-mokhnach commented on #340
@dpgraham I think the problem there is the same as it was for UIA2. We should simply limit the maximum depth of views hierarchy traversal. I'll prepare a hot fix soon

[2018-12-11 17:40] dpgraham commented on #340
Sure. I've already started writing a test for this to reproduce it (using Robolectric) so once you get in the fix I can test it.

[2018-12-11 18:33] mykola-mokhnach commented on #340
@rajdeepv Can you please test https://github.com/appium/appium-espresso-driver/pull/341 with your app?

[2018-12-11 18:49] rajdeepv commented on #340
@mykola-mokhnach checked it, still same issue. I put a watch on depth and noticed that depth was never more than 11 in my case and therefore never got the warning log in the logcat about it.

[2018-12-11 19:31] mykola-mokhnach commented on #340
@rajdeepv There might be multiple causes. Can you please attach the stacktrace you get with this PR being merged?

[2018-12-11 19:43] dpgraham opened #342 "Use sub-hierarchy for Xpath"
When doing a search where the root of the search isn't the root of the app, we should be building the SourceDocument with that element as a root. (I'll take this issue, just posting it to track our efforts)

[2018-12-11 19:43] rajdeepv commented on #340
@mykola-mokhnach below is stacktrace. It takes some time before this exception is thrown. I tried to see serialized XML, there seems to be sort of periodic repetition of views. I am attaching partial XML copied from the debugger window
[lol.txt](https://github.com/appium/appium-espresso-driver/files/2669096/lol.txt)

[code]

[2018-12-11 19:45] dpgraham commented on #342
Nvm... it already does this.

[2018-12-11 19:45] #342 closed

[2018-12-11 19:53] dpgraham commented on #331
Sounds like this is a known issue: https://issuetracker.google.com/issues/110573930

Probably best to hold off on this and let Google fix it.

[2018-12-11 19:54] dpgraham commented on #297
Closing this. If this is still a problem, I'll re-open.

[2018-12-11 19:54] #297 closed

[2018-12-11 19:56] dpgraham commented on #232
I'm going to look at this.... @mykola-mokhnach do you have any ideas, off the top of your head, why this would be happening?

[2018-12-11 20:23] rajdeepv commented on #232
@dpgraham I have found a way to avoid this. In the application code, we need to make sure that we don't obfuscate com.google.gson

Thanks!

[2018-12-11 20:43] mykola-mokhnach commented on #340
Perhaps the generated XML is really big. What if you add `android:largeHeap` to the espresso manifest?

[2018-12-11 21:00] mykola-mokhnach commented on #340
I'll try to rewrite xml generator, so it does not cache xml output in memory, but on file system

[2018-12-11 21:40] dpgraham commented on #232
Okay good to know @rajdeepv! We'll still keep it open though. For other users who have this same problem we'll need to either come up with a solution or list it as a "Known Issue" and provide a recommended workaround.

[2018-12-11 23:11] mykola-mokhnach commented on #340
Please try https://github.com/appium/appium-espresso-driver/pull/344

[2018-12-12 00:45] rajdeepv commented on #340
I will try it on my app tomorrow in the office. But just tried with a small app with two nested views as below:

[code]

On doing `@driver.page` I get source xml which has id  foo and bar repeated multiple times. There seems to be some strange thing going on with recursion which is resulting in repeated serialization of same view again and again and making xml unusually long. This is probably reas

[2018-12-12 01:08] rajdeepv commented on #340
@mykola-mokhnach, just tried my app with #344 . This time the serialization was just endless. I waited for 3 minutes before cancelling it
However, with the hack I mentioned above, it worked on my app and the serialization took only 148ms.

[2018-12-12 06:45] mykola-mokhnach commented on #340
Thanks for the hint. There is maybe an issue in the traversal algorithm from androidx package. I have reverted to the previous implementation, which should work properly though.

[2018-12-12 09:13] rajdeepv commented on #340
@mykola-mokhnach It is working fine with the latest changes in #344.
Thanks

[2018-12-12 09:21] rajdeepv opened #345 "some fixes may be needed to migrate to espresso"
1. If a client has previously set noSign capability to true, instrumentation doesn't work. We need to probably fail by telling the client to remove the noSign capability
2. Currently, If we need to find an element using resource Id, we have to provide a fully qualified identifier like "com.myapp.example:id/tooltip_itemDismiss". In Uiautomator2 if the package name is not specified, it is assumed to

[2018-12-12 11:02] mykola-mokhnach commented on #340
Published the fix in 1.5.0

[2018-12-12 11:02] #340 closed

[2018-12-12 17:33] dpgraham commented on #345
Thanks for your help with everything @rajdeepv!

[2018-12-12 17:45] rajdeepv commented on #345
Thanks @dpgraham  and @mykola-mokhnach  for being so prompt and putting in so much time and effort. I look forward to success of espresso driver.

[2018-12-12 18:56] dpgraham commented on #345
I'm going to work on a guide to migrate from UIA2 to Espresso soon.

[2018-12-12 21:21] #323 closed

[2018-12-12 22:14] rajdeepv opened #348 "duration of swipe is not configurable, resulting in missing swipes"
I was trying to perform a swipe action of 2 sec long using below client call:
`Appium::TouchAction.new.swipe(start_x: 200, start_y: 600, end_x: 200, end_y:300, duration:2000).perform`

However, the duration was not taken into account and it was a superfast swipe which is being considered as flick and not swipe.

[code]

On client side, even if I add duration in {"action":"moveTo","options":{"x":20

[2018-12-13 04:17] nichotined commented on #348
same here...
really need this function to be able to use it on production 👍

[2018-12-13 05:43] saikrishna321 commented on #348
can u try with w3c Actions API https://github.com/saikrishna321/VodQaAdvancedAppium/blob/master/src/test/java/com/appium/gesture/GestureTest.java

[2018-12-13 10:20] nichotined commented on #348
I think it's related with my issue before https://github.com/appium/appium-espresso-driver/issues/310

[2018-12-13 15:08] rajdeepv commented on #348
@saikrishna321, It works with w3c actions, Thanks. The issue is with TouchAction API

[2018-12-13 15:17] nichotined commented on #348
@rajdeepv what is w3c actions?

[2018-12-13 15:41] nichotined commented on #348
@rajdeepv that's nice,
could you possibly provide the request and response from appium server log?

[2018-12-13 15:45] rajdeepv commented on #348
Here it is @nichotined

[code]

[2018-12-13 15:51] nichotined commented on #348
Thanks so much!

[2018-12-13 17:12] rajdeepv commented on #348
Closing this assuming that ruby client will update the Appium::Core::TouchAction to build actions as per w3c actions endpoint in future

[2018-12-13 17:12] #348 closed

[2018-12-13 18:02] greenkeeper[bot] opened #350 "An in-range update of appium-chromedriver is breaking the build 🚨"
## The devDependency [appium-chromedriver](https://github.com/appium/appium-chromedriver) was updated from `4.9.0` to `4.10.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-chromedriver-4.10.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-

[2018-12-13 19:28] greenkeeper[bot] opened #351 "An in-range update of appium-android-driver is breaking the build 🚨"
## The dependency [appium-android-driver](https://github.com/appium/appium-android-driver) was updated from `4.7.0` to `4.7.1`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-android-driver-4.7.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium

[2018-12-13 21:05] #350 closed

[2018-12-13 21:34] #351 closed

[2018-12-14 05:17] KazuCocoa commented on #348
Currently, I have no concrete plan to wrap W3C actions over `Appium::Core::TouchAction` since we can call like below as same as selenium-webdriver.
https://github.com/appium/ruby_lib_core/blob/a549a8ab1977e86bc29533a829cd9bc69067d24e/test/functional/ios/webdriver/w3c_actions_test.rb#L17

https://www.rubydoc.info/github/appium/ruby_lib_core/Appium/Core/TouchAction

(Or I'll just insert warning mess

[2018-12-14 05:19] KazuCocoa commented on #348
another example
https://github.com/appium/ruby_lib_core/blob/a549a8ab1977e86bc29533a829cd9bc69067d24e/test/functional/android/webdriver/w3c_actions_test.rb#L18

[2018-12-14 10:39] rajdeepv commented on #348
Thanks @KazuCocoa

[2018-12-14 10:59] KazuCocoa commented on #348
I forgot adding `action`, so I just created https://github.com/appium/ruby_lib/pull/842/files#diff-3108f19537d63910373ca896fc8ac6a7R337 ...
When the driver communicates with `:w3c`, W3C action can be returned.

[2018-12-14 17:53] greenkeeper[bot] opened #354 "An in-range update of appium-android-driver is breaking the build 🚨"
## The dependency [appium-android-driver](https://github.com/appium/appium-android-driver) was updated from `4.7.1` to `4.8.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-android-driver-4.8.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium

[2018-12-14 19:04] #354 closed

[2018-12-16 03:59] mgmanikandan87 opened #355 "is there way to find the edittext error message"
<img width="385" alt="screen shot 2018-12-16 at 9 22 03 am" src="https://user-images.githubusercontent.com/3031178/50049870-64957180-0114-11e9-83fc-e7384081691e.png">

I was trying to add this appium-epresso-driver code locally and I am getting below error

Dec 16, 2018 9:26:25 AM io.appium.java_client.remote.AppiumCommandExecutor$1 lambda$0
INFO: Detected dialect: W3C

org.openqa.selenium.WebDriv

[2018-12-16 14:17] rajdeepv commented on #355
If you can get hold of the internal id of the element, you can do it easily using view functions as shown below:
[code]

Note that above is in ruby. if you are using Java, you need to check how to find element ref

[2018-12-16 15:16] mgmanikandan87 commented on #355
@rajdeepv  -  Awesome! it worked thank you so much

` MobileElement el = (MobileElement) driver.findElement(MobileBy.id("com.example.manikandanmg.testapp:id/editText1"));
            JavascriptExecutor js = (JavascriptExecutor) driver;
            Object o = js.executeScript("mobile: backdoor", ImmutableMap.of("target", "element", "elementId", el.getId(), "methods", Arrays.asList(ImmutableMap.of("

[2018-12-16 15:17] mgmanikandan87 commented on #355
Closing this, hence this can achieve through backdoor

[2018-12-16 15:17] #355 closed

[2018-12-17 08:48] ania-s opened #356 "Screenshot is not taken on a real device when webview is used"
I tried to take a screenshot on a real device while in webview and it looks that it doesn't work. In native context everything works fine. The log is below:

"appium": "1.11.0-beta.2"

[2018-12-17 19:10] jlipps commented on #355
@rajdeepv it would be nice to make this available as an element attribute, so people could just do `element.getAttribute('errorText')` and the backdoor script would run under the hood.

[2018-12-17 19:24] rajdeepv commented on #355
@jlipps yes, it is a common use case and makes sense to add as an attribute. will raise a PR soon

[2018-12-19 01:55] mgmanikandan87 commented on #355
@rajdeepv - Once you done with your changes, let me know I will update my script too

[2018-12-20 15:39] mykola-mokhnach commented on #356
Do you observe any errors in the logcat output? is FLAG_SECURE set for the view, which is shown on the screen (e. g. is it possible to take a screenshot manually?)

[2018-12-20 16:25] rajdeepv opened #359 "Driving out of app areas"
There are cases where we have to drive out of app areas. Example:
AppUnderTest (has an upload photo button which opens Android Gallery)=> Select photos => Back to AppUnderTest
AppUnderTest => Open GooglePlay payment flow => Pay using GooglePlay => Back to AppUnderTest

espresso-driver already has InteractionHelper with UiDevice and therefore there is a possibility of driving out of app areas. It c

[2018-12-20 19:00] dpgraham commented on #222
Closing. Will re-open if problem persists.

[2018-12-20 19:00] #222 closed

[2018-12-20 19:03] dpgraham commented on #279
I don't think there's a good fix for this. What we'll need in the future is a selector strategy that targets adapter and recycler views.

[2018-12-20 19:03] #279 closed

[2018-12-20 19:13] dpgraham commented on #359
Yeah this is a limitation of Espresso....

I think what we should be doing is merging our UiAutomator2 driver into Espresso and having the ability to change native contexts.

[2018-12-22 14:10] rajdeepv commented on #359
It definitely makes sense to merge both given they have mutually exclusive powers. Is it a plan in near future?

[2018-12-28 18:30] greenkeeper[bot] opened #362 "An in-range update of appium-adb is breaking the build 🚨"
## The dependency [appium-adb](https://github.com/appium/appium-adb) was updated from `7.0.0` to `7.1.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-adb-7.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-adb is a direct dependency of th

[2018-12-28 20:17] #362 closed

[2018-12-31 12:51] leandromercado commented on #314
Is there any update on this or a workaround?

[2019-01-08 12:22] ania-s commented on #356
Sorry, I somehow missed your question. I do not see any errors and I don't think a flag is set or at least I cannot find it in the source code of the app. What do you mean by taking screenshot manually - directly through the phone/tablet?

[2019-01-08 14:51] rajdeepv commented on #314
@ania-s What client are you using? Are you restarting app using appium or some other way? If you are killing app and restarting using some other mechanism other than appium client, then it will not work because instrumentation will not be started

[2019-01-08 14:58] ania-s commented on #314
@rajdeepv I use Android tablets, few different ones(e.g. Galaxy Tab S3, Lenovo TB-X304F). And yes I restart the app using appium.

[2019-01-08 15:33] rajdeepv commented on #314
@ania-s I tried with the ruby client and driver.restart is working fine, and I am able to drive app fine post that. What language are you using?

[2019-01-08 18:05] mykola-mokhnach commented on #356
Yes, using the special shortcut (for different devices it is different)

[2019-01-09 12:07] liviudanu-ellation opened #365 "Swipe not performed if startPoint is over an element."
Hi. There is a issue when I try to perform a swipe.
If the start point of the swipe is over an element swipe is not performed;
If the start point is over an empty space everything works fine

Appium version: 1.11.0-rc.0
Java-client version: 7.0.0
Espresso driver version: 1.6.0

Below are two recordings of the issue with appium desktop with 1.10.0 server.

[SwipeRecording.zip](https://github.com/ap

[2019-01-09 13:33] ania-s commented on #356
I checked it and I can take a screenshot manually using button shortcuts.

[2019-01-09 14:46] KazuCocoa commented on #356
What about applying https://github.com/appium/appium-espresso-driver/pull/366 if you can build the PR manually?
@ania-s

On my environment, I could not get screenshot without `nativeWebScreenshot` on both uiautomato2 and espresso driver in webview context. I wonder your case is also similar.

[2019-01-09 16:22] towfurious opened #367 "You need to use a Theme.AppCompat theme (or descendant) with this activity."
Appium v1.10.0
MacOs version : 10.14.2 (18C54)
Node.js 11.6.0
Mobile platform/version under test: Android 7
Genymotion X86/ real device
Appium java client : 7.0.0
android app with dagger/rx

`[Espresso] [Instrumentation][STDOUT] java.lang.RuntimeException: Unable to start activity ComponentInfo{com.vistajet.ecrew.dev/com.vistajet.aea.auth.ui.splash.SplashScreenActivity}: java.lang.IllegalStateExce

[2019-01-09 16:23] towfurious commented on #367
more logs
`[info] [35m[Appium][39m Welcome to Appium v1.10.0
[info] [35m[Appium][39m Appium REST http interface listener started on 0.0.0.0:4723[info] [35m[HTTP][39m [37m-->[39m [37mPOST[39m [37m/wd/hub/session[39m
[info] [35m[HTTP][39m [90m{"desiredCapabilities":{"app":"/Users/viktor/builds/app-dev-x86-debug.apk","appPackage":"com.package.ecrew.dev","clearSystemFiles":true,"keystor

[2019-01-09 18:10] mykola-mokhnach commented on #367
https://stackoverflow.com/questions/21814825/you-need-to-use-a-theme-appcompat-theme-or-descendant-with-this-activity

I assume it is a problem with the app itself

[2019-01-09 18:14] mykola-mokhnach commented on #365
Please attach the server logs and the client code snippets

[2019-01-10 13:34] liviudanu-ellation commented on #365
@mykola-mokhnach I've updated the issue description.

[2019-01-10 18:05] mykola-mokhnach commented on #365
wait action duration is unset

[2019-01-10 19:41] dpgraham opened #368 "Kotlin?"
Kotlin

Yay or nay?

[2019-01-10 20:43] mykola-mokhnach commented on #368
We can start rewriting some parts step by step

[2019-01-10 20:44] mykola-mokhnach commented on #368
...until everything will be in Kotlin

[2019-01-10 21:20] dpgraham commented on #368
@mykola-mokhnach I was thinking the same thing. It's helpful that Kotlin is interoperable with Java.

[2019-01-10 21:39] jlipps commented on #368
If Google is recommending Android devs move to Kotlin, I think we should as well, bit by bit.

[2019-01-11 11:53] towfurious commented on #367
we dont use AppCompat theme as well, we use Theme.MaterialComponents.Light.NoActionBar

[2019-01-11 15:14] rajdeepv commented on #359
@dpgraham as a stop-gap, do you think its a good idea to add a mobile command which can evaluate a uiautomator2 script to workaround this problem? I can try doing that

[2019-01-11 18:02] dpgraham commented on #359
@rajdeepv Yeah if you wanted to work on that, I'm fine with that.

[2019-01-12 02:37] KazuCocoa commented on #359
Lovely. > https://github.com/appium/appium-espresso-driver/issues/359#issuecomment-453548834
I also get feedback about it by friends of mine, but I have no time to work for it hard so far...

[2019-01-13 16:37] rajdeepv commented on #359
@dpgraham @KazuCocoa, What I meant was not a fully fledged script parser, but just a workaround which helps me in very rare cases when I want to click or get the text/contentDescription etc from out of app areas. I already use the simple workaround from [my fork](https://github.com/rajdeepv/appium-espresso-driver/tree/uiautomator) for my personal projects. Not sure if it is good enough for upstrea

[2019-01-13 19:01] mykola-mokhnach commented on #359
@rajdeepv Create a PR. We'll be happy to review as always.

[2019-01-14 17:21] dpgraham commented on #356
@KazuCocoa did your PR resolve this?

[2019-01-14 17:51] dpgraham commented on #292
Is this still happening?

[2019-01-14 23:00] KazuCocoa commented on #356
Not sure. But it should resolve this if the main reason is "webview"

Do you have a time to try out? @ania-s

[2019-01-16 15:08] RichiRivera commented on #367
I'm currently running into this as well. Our app is all using AppCompat based themes. At least in our case we think it's coming from the Spotify SDK. The Spotify login activities use `@android:style/Theme.Translucent.NoTitleBar`, which is not a derivative of `Theme.AppCompat`.

https://spotify.github.io/android-sdk/auth-lib/docs/com/spotify/sdk/android/authentication/AuthenticationClient.html

We

[2019-01-17 20:57] dpgraham opened #373 "Kotlin Conversion"
Because Kotlin is fully interoperable with Java, and .kt and .java files can mix-and-match, we can do this conversion piece-by-piece instead of just one big, messy refactor.

Here's my recommended ordering

* Convert the unit tests
  * Convert the files to .kt
  * Rename test functions and classes using the [backticks naming convention](https://kotlinlang.org/docs/reference/coding-conventions.html

[2019-01-17 20:58] mykola-mokhnach commented on #373
I'd rather convert from top to bottom. Handlers first, as they don't have any dependencies

[2019-01-17 21:14] dpgraham commented on #373
Actually yeah, Handlers can be moved above Models

[2019-01-18 23:15] #359 closed

[2019-01-21 13:02] SrinivasanTarget opened #376 "startActivity endpoint throws webdriver exception"
startActivity endpoint throws webdriver exception in Espresso mode

Logs [here](https://gist.github.com/SrinivasanTarget/84e65d75c3fae0c01fab37cb9d5b9ccb)

[2019-01-21 13:14] SrinivasanTarget commented on #376
@mykola-mokhnach ping

[2019-01-21 14:46] ania-s commented on #356
Sorry for the delay but I was sick. I wanted to check it with the latest appium release, however, I cannot get the tests on android running with it as I get the following error:

Maybe I am missing sth but meanwhile if anyone knows what could be wrong I would appreciate any hint. Thanks

[2019-01-21 15:00] KazuCocoa commented on #356
Are you fine now?
Try:

1. `npm uninstall -g appium`
2. `npm install -g appium@beta`

I assume your environment had old modules. You should up to date them.

[2019-01-21 19:51] dpgraham commented on #376
Maybe we shouldn't be using the Espresso `startActivitySync`, but use the ADB start activity.

[2019-01-21 19:58] dpgraham commented on #376
@SrinivasanTarget which Activity are you on when that happens?

[2019-01-21 20:15] mykola-mokhnach commented on #376
@dpgraham I can try to implement http://blog.sqisland.com/2015/04/espresso-21-activitytestrule.html, but I would be happy if someone could help me with testing.

[2019-01-22 07:59] ania-s commented on #356
I am better, thanks :)

I tried cleaning everything but I keep on getting this error.

[2019-01-22 13:46] KazuCocoa commented on #356
What the result of `$ npm list -g appium-espresso-driver appium-adb`?

The command prints dependency versions

[2019-01-22 13:52] ania-s commented on #356
npm list -g appium-espresso-driver appium-adb
/usr/local/lib
└─┬ appium@1.11.0-beta.3
  ├─┬ appium-android-driver@4.8.0
  │ └── appium-adb@7.2.0
  ├─┬ appium-espresso-driver@1.7.1
  │ └── appium-adb@7.2.0  deduped
  ├─┬ appium-selendroid-driver@1.13.3
  │ └── appium-adb@7.2.0  deduped
  └─┬ appium-uiautomator2-driver@1.28.0
    └── appium-adb@7.2.0  deduped

[2019-01-22 14:22] KazuCocoa commented on #356
thanks. I assumed you had older appium-adb which had no `getApplicationInstallState`

Below was mine which worked.

[code]

What about below flow? It can force the espresso driver build with the repository's one.

[code]

[2019-01-22 14:42] ania-s commented on #356
@KazuCocoa unfortunately it doesn't make any difference. I cleaned my environment one more time as well as tried on a different machine and I cannot get it working. Not it even doesn't install the apps on the device (the testing app & appium), instead it throws the errors, like:

java.lang.IllegalArgumentException: Unknown package: io.appium.settings
	at com.android.server.pm.Settings.getInstaller

[2019-01-22 14:51] KazuCocoa commented on #356
The setting app is probably below in your path.

[code]

Can you install it by manual via adb install command?

[2019-01-22 14:57] ania-s commented on #356
Please ignore my previous comment - this error was my fault. I fixed it. Now I only get
`ERROR: connect ECONNREFUSED 127.0.0.1:4723`

I will investigate it a little bit more as appium is not started at all.

[2019-01-24 09:18] ania-s commented on #356
I managed to get the most recent version of appium working, however, I still cannot take screenshots on android device. Still the same behavior as previously.

[2019-01-24 09:39] ania-s commented on #356
I didn't use the capability. Now when I added it, it works fine. Thanks for the fix.

[2019-01-24 09:39] #356 closed

[2019-01-24 09:46] KazuCocoa commented on #356
Thanks for the report :)

[2019-01-25 01:49] idxn commented on #284
Also, 1 question from me. Espresso can interact only with Application Under Test. Sometimes E2E test need to interact with OS related stuffs. Will it be possible in the future to use both Espresso and UiAutomator2 at the same time?

[2019-01-25 04:38] jlipps commented on #284
@dpgraham would it make sense to have a `base-android-driver` with java and js libraries that can be imported by all the android drivers?

[2019-01-25 09:22] rajdeepv commented on #284
@idxn There is limited support to interact with OS related stuff in espresso-driver. It was added as part of #371

[2019-01-28 07:45] idxn commented on #284
@rajdeepv Cool. Thanks a lot for pointing me out.

[2019-02-01 01:05] greenkeeper[bot] opened #387 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-02-05 10:14] greenkeeper[bot] opened #389 "An in-range update of appium-gulp-plugins is breaking the build 🚨"
## The devDependency [appium-gulp-plugins](https://github.com/appium/appium-gulp-plugins) was updated from `3.6.1` to `3.6.2`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-gulp-plugins-3.6.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-gu

[2019-02-05 17:03] #389 closed

[2019-02-07 23:29] greenkeeper[bot] opened #390 "An in-range update of appium-gulp-plugins is breaking the build 🚨"
## The devDependency [appium-gulp-plugins](https://github.com/appium/appium-gulp-plugins) was updated from `3.6.2` to `3.7.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-gulp-plugins-3.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-gu

[2019-02-08 14:24] #390 closed

[2019-02-09 01:51] greenkeeper[bot] opened #391 "An in-range update of appium-gulp-plugins is breaking the build 🚨"
## The devDependency [appium-gulp-plugins](https://github.com/appium/appium-gulp-plugins) was updated from `3.7.0` to `3.7.1`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-gulp-plugins-3.7.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-gu

[2019-02-10 01:06] greenkeeper[bot] opened #392 "An in-range update of ajv is breaking the build 🚨"
## The devDependency [ajv](https://github.com/epoberezkin/ajv) was updated from `6.8.1` to `6.9.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fajv-6.9.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ajv is a devDependency of this project. It **might n

[2019-02-11 13:19] #392 closed

[2019-02-11 16:40] #391 closed

[2019-02-11 21:39] #368 closed

[2019-02-11 21:39] #328 closed

[2019-02-11 22:58] dpgraham opened #394 ""-android viewmatcher" selector strategy"
We have the `-android datamtacher` selector strategy (see https://github.com/appium/appium-espresso-driver/pull/386)

We should also have a `-android viewmatcher` selector strategy so that we have all Espresso view-finding strategies covered.

[2019-02-15 23:57] greenkeeper[bot] opened #401 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `5.13.0` to `5.14.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Feslint-5.14.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this project. It

[2019-02-15 23:57] #401 closed

[2019-02-18 05:05] #247 closed

[2019-02-25 16:47] #290 closed

[2019-02-25 17:03] #59 closed

[2019-02-26 19:16] greenkeeper[bot] opened #407 "An in-range update of appium-adb is breaking the build 🚨"
## The dependency [appium-adb](https://github.com/appium/appium-adb) was updated from `7.2.0` to `7.3.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-adb-7.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-adb is a direct dependency of th

[2019-02-27 13:10] #407 closed

[2019-02-27 17:33] nichotined opened #408 "Unable to click element that's not fully visible"
**Context:**
[code]

**How to repro:**

- Given I have a long vertical app
- And I swipe to the bottom to find the element until appium returning 200 for element found
- When I tap/click the `element`
- Then appium will throws `InvalidElementStateException` as the element is not fully visible (Eg. 1/4 of its element)

[code]

[2019-02-27 17:34] nichotined commented on #408
@dpgraham

[2019-02-27 18:28] nichotined commented on #408
in Espresso It's not possible to interact with an element that's not 90% visible
ref: https://stackoverflow.com/questions/34510696/android-espresso-error-on-button-click

[2019-03-01 21:02] dpgraham opened #409 "Source document generation throws exception"
Espresso can't generate the source document

[code]

[2019-03-02 07:41] mykola-mokhnach commented on #409
This exception happens inside Espresso system lib: https://github.com/android/android-test/blob/7c8e582d18fa446920d5a3968b80056b796ce8bd/espresso/core/java/androidx/test/espresso/base/InputManagerEventInjectionStrategy.java#L83. Also, it would be interesting to know what Android version it is

[2019-03-04 16:20] #387 closed

[2019-03-04 21:27] dpgraham commented on #409
Happening on Android Pie

[2019-03-04 21:35] dpgraham commented on #409
When I choose an Emulator from AVD manager with an API level of `P` the error happens. When the API level is `28` it does not happen. I think this is probably an Emulator bug.

[2019-03-05 06:15] mykola-mokhnach commented on #409
How is that possible I thought that Android P == API level 28

[2019-03-05 06:17] dpgraham commented on #409
I don't know. But in the AVD manager it lists the version as P for some and 28 for others. I can screencap it if needed.

[2019-03-06 04:09] dpgraham commented on #409
And to clarify, the Emulators that have the name P have the problem, the emulators that have the name 28 do work.

[2019-03-06 04:17] dpgraham commented on #409
Closing this. Pretty sure it's just outdated Android P images that have this problem.

[2019-03-09 13:50] greenkeeper[bot] opened #412 "An in-range update of appium-android-driver is breaking the build 🚨"
## The dependency [appium-android-driver](https://github.com/appium/appium-android-driver) was updated from `4.8.0` to `4.9.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-android-driver-4.9.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium

[2019-03-14 02:52] juandg opened #414 "GET `/alert/text` still fails for accessing Alert Dialogs"
This is related to #260 but I can't re-open the issue

Trying to get access to an Alert Dialog with `/alert/text` is still broken. The `NotYetImplementedError` Java exception is now fixed, but now I get a 500 response  **"No such route /session/.../alert/text\"**

This is the code on the client side:

[code]
As before the code above works fine on both the UIAutomator2 and XCUITest drivers but fail

[2019-03-18 13:00] #412 closed

[2019-03-19 02:06] KazuCocoa commented on #414
https://github.com/appium/appium-espresso-driver/pull/416 will fix it

[2019-03-19 17:21] greenkeeper[bot] opened #418 "An in-range update of appium-adb is breaking the build 🚨"
## The dependency [appium-adb](https://github.com/appium/appium-adb) was updated from `7.4.0` to `7.5.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-adb-7.5.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-adb is a direct dependency of th

[2019-03-20 05:49] mvrazi commented on #314
Hi. Is anyone working on this case?
An issue occurs using Java.

[2019-03-20 12:34] #418 closed

[2019-03-20 14:41] greenkeeper[bot] opened #419 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `dependency` [@babel/runtime](https://www.npmjs.com/package/@babel/runtime) was updated from `7.3.4` to `7.4.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fmonorepo.babel7-20190319220228).

This version is **covered** by your **current version range** and after updati

[2019-03-20 17:15] #419 closed

[2019-03-21 08:58] greenkeeper[bot] opened #421 "An in-range update of appium-adb is breaking the build 🚨"
## The dependency [appium-adb](https://github.com/appium/appium-adb) was updated from `7.5.0` to `7.5.1`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-adb-7.5.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-adb is a direct dependency of th

[2019-03-21 11:27] #421 closed

[2019-03-21 16:15] #414 closed

[2019-03-22 14:48] dpgraham commented on #409
Happening on Android Q beta emulators. Will re-open just to keep track of it.

[2019-03-22 15:49] dpgraham commented on #314
@mvrazi is this still happening with the latest Appium? (1.12.0)

[2019-03-26 07:09] mvrazi commented on #314
@dpgraham yes.

I'm attaching logs after calling "appiumDriver.resetApp" method using latest Appium. (1.12.0)

[resetApp_ECONNRESET.log](https://www.dropbox.com/s/4m5zwmpil9kuv1k/resetApp_ECONNRESET.log?dl=0)

[2019-03-26 15:58] greenkeeper[bot] opened #422 "An in-range update of appium-android-driver is breaking the build 🚨"
## The dependency [appium-android-driver](https://github.com/appium/appium-android-driver) was updated from `4.11.0` to `4.12.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-android-driver-4.12.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

app

[2019-03-27 19:29] #422 closed

[2019-03-28 12:28] akliuieva commented on #208
Faced the same issue with Espresso appium driver
Appium server - 1.10.0
Java client -7.0.0(tried 6.1.0 - also not working)
Tried :
1) adb kill-server && adb start-server
2) rm -rf node_modules && npm install
3) forceEspressoRebuild=true

Still faced with issue

[2019-03-29 03:19] greenkeeper[bot] opened #424 "An in-range update of sinon is breaking the build 🚨"
## The devDependency [sinon](https://github.com/sinonjs/sinon) was updated from `7.3.0` to `7.3.1`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fsinon-7.3.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sinon is a devDependency of this project. It **mig

[2019-03-29 14:44] #424 closed

[2019-03-31 13:34] greenkeeper[bot] opened #427 "An in-range update of mocha-junit-reporter is breaking the build 🚨"
## The devDependency [mocha-junit-reporter](https://github.com/michaelleeallen/mocha-junit-reporter) was updated from `1.18.0` to `1.19.0`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fmocha-junit-reporter-1.19.0).

This version is **covered** by your **current version range** and after updating it in your project **the build faile

[2019-04-01 13:26] #427 closed

[2019-04-02 12:41] greenkeeper[bot] opened #428 "An in-range update of appium-gulp-plugins is breaking the build 🚨"
## The devDependency [appium-gulp-plugins](https://github.com/appium/appium-gulp-plugins) was updated from `3.8.4` to `3.8.5`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-gulp-plugins-3.8.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-gu

[2019-04-03 00:49] greenkeeper[bot] opened #429 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `dependency` [@babel/runtime](https://www.npmjs.com/package/@babel/runtime) was updated from `7.4.2` to `7.4.3`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fmonorepo.babel7-20190402214609).

This version is **covered** by your **current version range** and after updati

[2019-04-03 09:42] greenkeeper[bot] opened #431 "An in-range update of bluebird is breaking the build 🚨"
## The dependency [bluebird](https://github.com/petkaantonov/bluebird) was updated from `3.5.3` to `3.5.4`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fbluebird-3.5.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

bluebird is a direct dependency of this

[2019-04-04 08:56] FerdinandNell opened #432 "Instrumentation Failure After Updating APK SDK to API Level 28"
Desired Caps:

{
  "app": "/Users/[redacted]/PycharmProjects/[redacted]/APPS/Android/QA/base.apk",
  "platformName": "Android",
  "automationName": "Espresso",
  "platformVersion": "8.0",
  "deviceName": "device",
  "udid": "23687718740b7ece",
  "disableAndroidWatchers": "true",
  "autoGrantPermissions" : "true",
  "ignoreUnimportantViews" : "true",
  "androidInstallTimeout" : 900000,
  "forceEspr

[2019-04-04 11:49] mykola-mokhnach commented on #432
https://stackoverflow.com/questions/29095063/resourcesnotfoundexception-resource-is-not-a-drawable-color-or-path

[2019-04-04 13:14] FerdinandNell commented on #432
Thanks, gone through that one already with no luck. Could you provide more info around what the Instrumentation is doing that might be affected by updating SDK version on our side?

[2019-04-04 19:34] greenkeeper[bot] opened #433 "An in-range update of appium-android-driver is breaking the build 🚨"
## The dependency [appium-android-driver](https://github.com/appium/appium-android-driver) was updated from `4.13.0` to `4.13.1`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-android-driver-4.13.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

app

[2019-04-05 02:40] greenkeeper[bot] opened #434 "An in-range update of appium-base-driver is breaking the build 🚨"
## The dependency [appium-base-driver](https://github.com/appium/appium-base-driver) was updated from `3.15.4` to `3.15.5`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-base-driver-3.15.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-base-

[2019-04-13 06:56] shoki87 commented on #292
For me it is still happening, don't know why, but same elements that are recognized with UIAutomator2 is not recognisable with espresso:
`org.openqa.selenium.TimeoutException: Expected condition failed: waiting for element to be clickable: Located by By.chained({By.id: button1}) (tried for 15 second(s) with 500 milliseconds interval)`

This is with appium server 1.12.1. Is there any need to separa

[2019-04-13 07:39] rajdeepv commented on #292
Is this element part of your app, or part of android system, something like a popup

[2019-04-13 08:10] shoki87 commented on #292
I have checked in android app code, it is AlertDialog from android API, so it should be part of android system. It is confirmation pop-up for previously entered phone number, so it has two buttons EDIT and YES. I am trying to tap on YES button which has id: "button1". UIAutomator doesn't have any problem to recognize it.

[2019-04-13 08:42] rajdeepv commented on #292
Right. For out of app cases you need to use mobile:uiautomator command. Look docs here: http://appium.io/docs/en/commands/mobile-command/

[2019-04-13 09:43] shoki87 commented on #292
Hey thanks for this solution, it worked :)

Unfortunately on next screen there is the issue with finding textView class:

`org.openqa.selenium.TimeoutException: Expected condition failed: waiting for visibility of Located by By.chained({By.className: android.widget.TextView}) (tried for 15 second(s) with 500 milliseconds interval)
`

[2019-04-15 23:29] #431 closed

[2019-04-15 23:30] #429 closed

[2019-04-15 23:30] #428 closed

[2019-04-15 23:30] dpgraham commented on #408
I'm going to close this as expected behaviour.

[2019-04-15 23:30] #408 closed

[2019-04-16 12:51] poojachoudhary13 opened #438 "swipe:mobile for espresso driver not working."
I am trying to do swipe a button left to right using below script
           ` browser.execute("mobile:swipe", {
                "element": "appPackage:id/swipe_btn",
                "swiper": "SLOW",
                "startCoordinates": "BOTTOM_LEFT",
                "endCoordinates": "TOP_RIGHT",
                "precisionDescriber": "FINGER"
            })`
I tried using `elementId` too in `elem

[2019-04-16 18:13] #438 closed

[2019-04-16 18:13] poojachoudhary13 commented on #438
not a bug

[2019-04-25 11:18] poojachoudhary13 opened #439 "Not able to launch activity with espresso driver version 1.11.0"
Same code works fine for appium-espresso-driver version 1.10.1
Below is the error log  :

`Error in onReload hook: "Error: A new session could not be created. Details: io.appium.espressoserver.lib.handlers.exceptions.SessionNotCreatedException: java.lang.RuntimeException: Could not launch activity
        at io.appium.espressoserver.lib.handlers.CreateSession.handle(CreateSession.kt:37)
        at

[2019-04-25 11:22] poojachoudhary13 commented on #439
@dpgraham

[2019-04-29 09:25] jumois commented on #439
Same problem here. The launch activity id is prefixed with dot. As a work-a-round, you can define the 'appActivity' capability manually.

[2019-04-29 09:31] poojachoudhary13 commented on #439
@jumois i have already done that       `appActivity: "com.xxx.pax.newface.presentation.newface.NewFace",` still it is prefixed with `.`

[2019-04-29 10:02] jumois commented on #439
Try to also set 'appPackage'. I'm using Appium v1.12.1.

[2019-04-29 10:10] poojachoudhary13 commented on #439
`appPackage` is also set. I tried with both appium 1.12.1 and 1.10. It is working fine with appium-espresso-driver 1.10.1 only breaking for version 1.11.0

[2019-04-29 10:56] jumois commented on #432
I'm facing this same issue. App launch fails to resource not found exception. App target SDK is also 28.

@FerdinandNell which version was it working before?

[2019-04-29 11:19] FerdinandNell commented on #432
Seems to be resolved in the latest BETA, the version that was working before was v1.12.0 I believe. Now I have a different issue resolving app launch activities...

[2019-05-02 18:18] juandg commented on #439
Same issue here. I'm providing `appActivity` and `appPackage` on my capabilities and I'm getting this same error. Things were working fine on 1.10.1 and the same capabilities work fine with UIAutomator2. Also, running `adb shell am start -n` with my `appActivity` and `appPackage` launches the activity successfully.

[2019-05-02 21:46] juandg commented on #439
OK, this is seriously broken. I'm using Appium v1.13.0 which bundles the Espresso Driver v1.11.0 and have tried this on different machines and different phones as well as the emulator (including a brand new avd instance) to avoid any sort of isolated issue and I keep getthing this error.

These are the capabilities I'm using:

[code]
They work fine on `UIAutomator` and `UIAutomator2` but as soon a

[2019-05-03 16:09] KazuCocoa opened #440 "Will we support open_notification?"
Because https://github.com/appium/appium/blob/16f545c37d730fca431fcd2cb9767221312738dd/commands-yml/commands/device/system/open-notifications.yml#L47 is true.
If we have no plan yet, I would make it `false`.

https://github.com/appium/appium-uiautomator2-server/search?q=OpenNotification&unscoped_q=OpenNotification

cc @dpgraham

[2019-05-03 22:34] juandg commented on #439
Just in case, here are the logs for the **exact** same setup, using Appium v1.12.1 and EspressoDriver v1.10.0 you can see everything succeeds as expected.

[code]

[2019-05-03 23:40] dpgraham commented on #439
@mykola-mokhnach was the startActivity logic changed recently?

I remember we switched from the native Espresso startActivity to using adb?

[2019-05-04 06:21] mykola-mokhnach commented on #439
Is it the case here, that the package in the full activity name differs from application package?

[2019-05-04 06:34] poojachoudhary13 commented on #439
@mykola-mokhnach  yes, in my case it differs

[2019-05-04 07:22] mykola-mokhnach commented on #439
@juandg Could you please try if https://github.com/appium/appium-espresso-driver/pull/441 works for you? [Here](https://appiumpro.com/editions/47) you can find more info on how to run Appium from source and [here](https://github.com/appium/appium-espresso-driver/blob/master/README.md) on how to build the server apk.

[2019-05-05 04:08] juandg commented on #439
Thanks @mykola-mokhnach, I think you are exactly right the problem seems to be that the package in the full activity name is different from the application package. I tested your branch and everything works! 🎉

Thanks for pointing me to the instructions on how to build everything from source, it was really helpful and saved me a ton of time.

Here's the log with the successful session creation jus

[2019-05-05 04:41] juandg opened #442 "POST `/alert/accept` fails for accepting Alert Dialogs"
So now that #414 has been fixed, I can use `GET /alert/text` to check for an alert being present but now if I try to accept the alert with `POST /alert/accept` then the call is failing with an exception.

This is the code I'm using on the client:

[code]
Which works well with UIAutomator2 and XCUITest but with the Espresso driver I get this Java exception:

[code]
Here's the relevant log with `ale

[2019-05-05 06:08] mykola-mokhnach commented on #439
The fix has been published to appium@beta
Thanks for reporting and checking the fix @juandg. We appreciate your support

[2019-05-05 06:14] mykola-mokhnach commented on #442
Please check if https://github.com/appium/appium-espresso-driver/pull/443 resolves the problem for you

[2019-05-05 06:17] mykola-mokhnach commented on #440
I think it makes not much sense for espresso, since it cannot access elements outside the application sandbox and the notifications drawer is exactly an example of such element

[2019-05-05 12:33] KazuCocoa commented on #440
Exactly, I agree with you

[2019-05-05 19:37] juandg commented on #442
Thanks @mykola-mokhnach for jumping in on this so quickly. You're a rockstar 🎉

This indeed fixed the issue with `POST /alert/accept` and everything works now. Here's the log just in case:

[code]

[2019-05-05 19:37] #442 closed

[2019-05-05 19:48] juandg commented on #439
Thank you @mykola-mokhnach for taking care of this so quickly. Really glad I could help.

[2019-05-06 16:16] Ludobaka opened #445 "Espresso selectors don't return expected values"
# Software
* appium 1.12.1
* appium-espresso-driver 1.11.0

# Problem presentation

When using native Espresso tests for my mobile application, I'm calling `onData` and `onView` like :
[code]
with `myViewId` either equals to `R.id.viewId` or `"com.mynamespace.myapp:id/viewId"`

When trying to send an Espresso request to the Appium server, I'm never able to get a response from the server.

I've rea

[2019-05-06 16:21] dpgraham commented on #445
Which client are you using? Can I see the logs? Looks like the client isn't setting the correct selector strategy (for the data matcher)

As for the view matcher, we haven't actually implemented an `onView` selector.... what that does is it selects element by VIEW_TAG.

[2019-05-07 02:21] KazuCocoa commented on #440
I've created a PR to make this feature false so far.
(close this issue as well)

[2019-05-07 02:21] #440 closed

[2019-05-07 05:36] mykola-mokhnach commented on #439
Closed as fixed

[2019-05-07 05:36] #439 closed

[2019-05-07 05:38] mykola-mokhnach commented on #432
Closed as fixed

[2019-05-07 05:38] #432 closed

[2019-05-07 08:33] Ludobaka commented on #445
I'm using java-client on the commit 5a17759b05d6fda8ef425b3ab6e766c73ed2e8df (previously HEAD of master, a new commit was added yesterday). I've also tried with v7.0.0.

Here are the logs from the server :
[code]
Here are the logs from the client :
[code]

[2019-05-08 01:54] KazuCocoa commented on #232
Maybe, this is also a similar issue. I would leave the log here.

[code]

[2019-05-09 00:59] uterator commented on #365
Having the same issue. Can't get the swiping to work.

Here is the code used in tests:
[code]
it works with UIAutomator2

Also, the swipe doesn't work on Appium Desktop 12.1 using Swipe By Coordinates by just clicking start-point and then end-point on the screen.
By enabling Point Location from Developer Options (to see the pointer's passed path on the screen) it is visible that start-point is cli

[2019-05-09 05:21] mykola-mokhnach commented on #365
I don't observe the wait after press in this command

[2019-05-10 01:37] copolii opened #449 "Resources$NotFoundException Resource is not a Drawable"
Appium v1.12.0
I'm not very familiar with Appium, this is my first crack at this.

I get the following exception when I try to start an Appium session with espresso. The crash is happening in the `onCreate` method of all my activities (I've tried starting with different activities) via `androidx.appcompat.app.AppCompatActivity.onCreate(AppCompatActivity.java:71)`.
This crash does not happen when I

[2019-05-10 08:54] Ludobaka commented on #449
Have you tried rebuilding your app with Espresso ? I encountered the same problem last week while discovering Appium. Do not forget to uninstall your app from the device before starting a new Appium session, just in case.

I'm sorry I can't help more if this is a real issue.

Reference [here](https://developer.android.com/training/testing/espresso/setup)

[2019-05-10 13:12] uterator commented on #365
Hi @mykola-mokhnach, thank you for your quick response, it was an Appium Desktop log, seems it's missing the wait after press, please let me know if I need to report that separately.

I have run the test with this command but swipe didn't work again

[code]

here are the executed actions

[code]

and here is the log portion of it:

[code]

[2019-05-10 20:23] dpgraham commented on #445
This looks like a bug. Thanks for submitting this. I'll try to find time to look at it.

Something is happening at `DataMatcherJson.kt:` that's causing it not parse the selector correctly.... I'd be curious if this is happening with other clients (Webdriver.IO perhaps?)

[2019-05-11 07:52] mykola-mokhnach commented on #445
This JSON is incorrect. Use JSONObject's toString method in order to properly convert objects to string representation

[2019-05-11 07:53] mykola-mokhnach commented on #376
@SrinivasanTarget Please check if the problem still happens in the recent appium version

[2019-05-12 11:52] SrinivasanTarget commented on #376
@mykola-mokhnach Sorry for the delay, just saw the message. It's not working in latest version as well. Logs [here](https://gist.github.com/SrinivasanTarget/d2cfa94042a65b79ca0107f1c5a203b2)

[2019-05-12 18:07] mykola-mokhnach commented on #376
@SrinivasanTarget Please update Appium ,so the driver version is at 1.12.2

[2019-05-13 04:16] greenkeeper[bot] opened #450 "An in-range update of yargs is breaking the build 🚨"
## The dependency [yargs](https://github.com/yargs/yargs) was updated from `13.2.2` to `13.2.4`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fyargs-13.2.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

yargs is a direct dependency of this project, and **

[2019-05-13 11:25] uterator commented on #365
@mykola-mokhnach, I've compared the TouchAction behavior on both drivers. The wait() has no effect on Espresso driver but works on UIAutomator2.

The following actions had been sent to /wd/hub/session/<session-id>/touch/perform endpoint
[code]
That swipe's cursor movement happens quickly on Espresso and the screen stay un-swiped. No any wait action's value change does any change on swipe speed.
At

[2019-05-13 12:42] #450 closed

[2019-05-13 12:59] mykola-mokhnach commented on #365
Thanks for checking that @uterator
I hope @dpgraham would have some time to check the implementation

[2019-05-13 18:07] copolii commented on #449
I can run my Espresso tests outside of Appium without issue. Is that what you mean by "rebuilding your app with Espresso"?

[2019-05-14 07:28] TomBAMU commented on #314
Is there any news on this? Some of our testcases require to call a "RESET" but the session will crash as @mykola-mokhnach stated.
Would be awesome if we could use Espresso for these cases.

[2019-05-14 15:38] dpgraham commented on #365
I'll try to have a look at it this evening.

[2019-05-15 10:37] uterator opened #451 "resetApp() fails with Didn't know how to handle switching to context 'NATIVE_APP'"
Trying to uninstall/install the app by calling `espressoDriver.resetApp()`, but it fails and throws `Error: Didn't know how to handle switching to context 'NATIVE_APP'`

fullReset = true, noReset = false.

The log:
[code]

For reproduce, start an Espresso session and call resetApp().
Appium version is "1.13.0-beta.3"

[2019-05-16 12:04] TomBAMU commented on #314
Seems like #451 fixes the problem for us! 👍

[2019-05-16 17:20] mykola-mokhnach commented on #451
The fix has been published in appium@beta

[2019-05-16 17:20] #451 closed

[2019-05-17 11:56] pwunsch commented on #439
still  having same issue with appium 1.13.0

[2019-05-17 12:49] pwunsch commented on #439
`Caused by: java.lang.RuntimeException: Unable to resolve activity for: Intent { act=android.intent.action.MAIN flg=0x14000000 cmp=com.company.android.myapp.production/.com.company.android.migration.MigrationActivity }
        at android.app.Instrumentation.startActivitySync(Instrumentation.java:472)
        at android.app.Instrumentation.startActivitySync(Instrumentation.java:435)
        at andr

[2019-05-17 18:33] juandg commented on #439
@pwunsch This was fixed *after* appium 1.13.0 was already out. The fix will be in when appium 1.13.1 is released or you can try it now in appium@beta

[2019-05-22 14:44] TomBAMU opened #453 "Backdoor on target element fails: Cannot find 'null' element"
I'm using the current appium beta version.

I tried to retrieve the text color of a textview by using "mobile:backdoor" script with the espresso driver. Unfortunately I am running into a InvalidArgumentException.

I'm not sure why, since the arguments contain an elementId.

Code to reproduce
[code]

The server log:
[code]

Would be great if someone could give me a hint on the "null" element here ;

[2019-05-23 09:45] uterator commented on #451
Thanks
Confirming, the issue is fixed in v1.12.4

[2019-05-24 10:51] rajdeepv commented on #453
Looks like a bug. @dpgraham looks like its regression due to renaming "elementId" to "targetElement"
It works fine with old espresso driver

[2019-05-25 05:20] #453 closed

[2019-06-02 20:22] uterator commented on #365
Hi @dpgraham, is there any news from this fix?

[2019-06-05 04:37] dpgraham commented on #365
I haven't unfortunately. I'm on holidays right now but will be back in a couple weeks.

[2019-06-05 04:40] dpgraham commented on #314
Closing as fixed then. Thank you @tombamu

[2019-06-05 04:40] #314 closed

[2019-06-06 14:10] vitalyk commented on #208
Hi guys, I'm facing the same issue.
a fragment - how it fails in the end:
[code]
Can someone please suggest a fix solution? I've tried the steps from above, but no luck.
Thanks ahead for your advice.

[2019-06-13 04:37] dpgraham commented on #445
Closing. Will re-open if problem persists.

[2019-06-13 04:37] #445 closed

[2019-06-13 05:15] dpgraham commented on #292
Closing as original issue is resolved.

[2019-06-13 05:15] #292 closed

[2019-06-17 11:44] ania-s opened #459 "Error "chrome not reachable" when restarting android app with webview"
"appium": "^1.14.0-beta.1",
"appium-chromedriver": "^4.11.1",
Android Debug Bridge version 1.0.41
MacOS Mojave 10.14.5
Tested on Samsung Galaxy S2 & LG-H930

After https://github.com/appium/appium-espresso-driver/issues/314 was closed as fixed I checked again the restarting of the android app and now I get a different error:
"An unknown server-side error occurred while processing the command. Orig

[2019-06-18 00:11] maskedpatel opened #460 "Process crashed while executing startEspressoServer"
Hey, so we've been using Appium at our company for a while now and were planning to make the move from Appium's UIAutomator2 driver to their Espresso driver.
We had no issues running our UI tests using the UIAutomator2 driver. In our config file we changed the capabilities JSON to:
capabilities: [{
    platformName: 'Android',
    platformVersion: '9',
    deviceName: 'Android Emulator',
    autom

[2019-06-20 00:43] juandg opened #461 "[RN 0.59] New Session fails with error: socket hang up"
**UPDATE:** _I triaged this a little better and this coincided with our app's move to react-native 0.59 so I went back and re-tested our old app with the espresso driver 1.13.0 and it works fine so this issue is not related to the changes between 1.12.0 and 1.13.0 but rather on our move to RN 0.59 and I've updated the issue description accordingly_

~~There seems to have been a change between 1.12

[2019-06-20 04:59] mykola-mokhnach commented on #461
Please attach the logcat output

[2019-06-20 10:48] KazuCocoa commented on #459
Could you attach the appium log (and maybe logcat as well?)?

---

note: the message is chromedriver. https://github.com/bayandin/chromedriver/search?utf8=%E2%9C%93&q=chrome+not+reachable&type=
maybe, we are missing to launch it..?

[2019-06-21 12:23] vidyasagarp opened #462 "Can't fetch locators using driver.findElements()"
using Espresso driver not able to fetch locators using findElements, tried for driver.findElementsByClassName and driver.findElementsById, both didn't work.

Below is the exception i'm getting.
[AppiumLogs.pdf](https://github.com/appium/appium-espresso-driver/files/3314415/AppiumLogs.pdf)

org.openqa.selenium.StaleElementReferenceException: io.appium.espressoserver.lib.handlers.exceptions.StaleEle

[2019-06-21 19:54] mykola-mokhnach commented on #462
Did you try to re-locate the element right before interacting with it like it suggested in the exception message?

[2019-06-21 21:40] juandg commented on #461
Thanks @mykola-mokhnach I looked over at the ADB output and realized this seems to be a react-native issue, so I did more triage and investigation and have updated the issue accordingly. I'll try to sanitize the ADB logs a bit and post them here to help diagnosing the issue.

[2019-06-22 00:32] juandg commented on #461
Closing this as it is not an espresso-driver issue.

Just for reference (in case someone stumbles into this closed issue by googling) I fixed this by just adding this line to our proguard rules:
[code]

[2019-06-22 00:32] #461 closed

[2019-06-23 07:23] KazuCocoa commented on #460
I assume it depends on your test target app...
What about VectorDrawableCompat related items like https://stackoverflow.com/questions/38143867/why-this-app-has-been-built-with-an-incorrect-configuration-error-occured-in-s ?

[2019-06-24 11:08] vidyasagarp commented on #462
Yes, i gave 5 seconds sleep before interacting with the element, the element is visible on UI, still i'm getting the above exception. tried with findElementsByClassName and findElementsById.
i have multiple locators with same resource id, so i'm iterating through all the locators and fetching the text attribute and performing the action on that particular locator

[2019-06-24 12:19] vidyasagarp commented on #462
Closing this issue as it got resolved after using latest commit Id from master branch of java client.

[2019-06-24 12:19] #462 closed

[2019-06-26 10:30] vidyasagarp opened #464 "Unable to click on few locators"
using Espresso driver not able to click on few locators, getting exception as Action will not be performed because the target view does not match one or more of the following constraints:
at least 90 percent of the view's area is displayed to the user.
when inspected that locator using appium desktop i got bounds as [288,609][1376,695],
same I tried using espresso driver.getRect().getX and getY()

[2019-07-02 21:21] maskedpatel commented on #460
Yeah we saw this and a couple other stackoverflow posts that pretty much all say to just update your gradle version in the app. Our gradle is 3.4.1 which is up to date in comparison with the issues seen in the stackoverflow posts. Just wondering if there's any other possibilities that could be considered.

[2019-07-03 06:58] KazuCocoa commented on #460
mm, one possibility is if the code refers support library's VectorDrawableCompat.

I mean like below:

- your app refers android module (not AndroidX)
- the espresso module refers AndroidX support library module

[2019-07-04 06:02] ganjarpanji commented on #449
im facing the same issue, have you found the solution @copolii ?

[2019-07-11 09:42] ganzf opened #466 "[Setup][OSX] Error: Neither ANDROID_HOME nor ANDROID_SDK_ROOT environment variable was exported"
# Environment

OS: macOS 10.12.6 (16G1917)
Appium Version: 1.14.0-beta.2
Espresso driver version: 1.14.0 (^1.0.0 in package.json of appium)
Device: Android Version 8.0.0

# Problem

When trying to create a session with appium on an android device using the Espresso driver, the following error is found:

[code]

Yet here is the output of `env`:

[code]

I am a novice when it comes to setting up app

[2019-07-11 10:25] ganzf commented on #466
My bad, the issue came from another soft managing my environment variables. Very sory.

[2019-07-11 10:25] #466 closed

[2019-07-12 13:11] uterator commented on #365
Hi @dpgraham, were you able to find a time to check the issue? I hope it will be a quick fix for you. With this issue, it is hard to keep tests stable.

[2019-07-15 12:32] Siddh010 opened #469 "How to compile appium.espressoserver.test with same app signature?"
I got below error message  while trying  with espresso as automation Name.

Please someone let now where can we  find io.appium.espressoserver.test and what are the steps require to compile with same signature as app?.

[Espresso] [Instrumentation] [STDERR] java.lang.SecurityException: Permission Denial: starting instrumentation ComponentInfo{io.appium.espressoserver.test/androidx.test.runner.Andr

[2019-07-15 16:27] mykola-mokhnach commented on #469
Uninstall the newer version of the app manually from the device, so the resigned one can be installed

[2019-07-16 11:45] Siddh010 commented on #469
Thank you @mykola-mokhnach, After update my App I was able to use Espresso as automation Name.
Going forward do we need to have same app version in local  folder and devices?

I was not facing this issue with UIAutomator2.
We used to  get app update  in Crashlytics app and install directly in devices without saving newly update app in local test folder.

[2019-07-16 12:24] mykola-mokhnach commented on #469
By default the algorithm always verifies if the version of the installed app is newer or the same in comparison to the version of the app which is going to be installed. You can cancel this by setting `fullReset` cap to true. That guarantees the application under test is always removed from the device before session startup.

[2019-07-16 12:24] #469 closed

[2019-07-16 13:58] jlipps commented on #469
If you don't want everything that comes along with `fullReset`, you can also use `uninstallOtherPackages` and include your app package. that will cause your app to always be uninstalled regardless of version.

[2019-07-17 08:40] aldochristiaan opened #470 "Backdoor couldn't find methods on target : application / activity if the code written in Kotlin"
So I have 2 android application written in Kotlin and Java ..

I tried to call public method on my Java Android Application both inside activity and application. It worked!

[code]

But when i want to try it on Kotlin Android Application, somehow espresso couldn't find any public methods inside activity nor application.
So I tried to use companion object and moved the function inside and marked it

[2019-07-17 10:52] Siddh010 commented on #469
Just a thought , I dont want to remove the app which have greater version than the application version code (eg her 63>56) , Then I should be able to resigned.
Which is not allowing now with Espresso automation.
With FullReset and uninstallOtherPackages  App is getting remove from devices and installing older version from path mention in capabilities.

[2019-07-18 00:31] KazuCocoa commented on #470
How about _show Kotlin bytecode_ and decompile them to Java on AndroidStudo?

[2019-07-18 03:43] aldochristiaan commented on #470
I tried and it became :
`public final void methodName()`

So, what's next ?

[2019-07-18 03:47] dpgraham commented on #470
@rajdeepv do you have any ideas?

[2019-07-18 04:40] aldochristiaan commented on #470
Hey guys @dpgraham @rajdeepv @KazuCocoa ..
I found out that we have to put `open` in front of the methods 😁

`open fun methodName()` will be decompiled into `public void methodName()`

Case closed! Thanks @KazuCocoa for pointing out kotlin bytecode ..
Maybe we have to add documentation about this on appium mobile native command especially for kotlin app 🥇

[2019-07-18 04:55] KazuCocoa commented on #470
Thanks!
I took a glance at the code and found `setAccessible(true);`. ah.. final modifier affected.
Will add the kotlin case in doc.

[2019-07-18 04:55] #470 closed

[2019-07-19 05:38] aldochristiaan commented on #470
Hello @KazuCocoa, sorry to open this issue again.
I found out that methods are missing in `Activity`, but it worked on `Application` target.

[2019-07-19 06:24] KazuCocoa commented on #470
thanks, interesting.
Were there any differences in decoded Java code level?

[2019-07-19 06:35] aldochristiaan commented on #470
There is no difference between decoded Java code ..

I have 2 kotlin application, the weird thing is backdoor does work in one application 😭 and the other doesn't.

[2019-07-19 07:42] aldochristiaan commented on #470
Hey, I found the root cause of this !!! 😆
The problem is proguard! OMG ..
In case espresso can't find the methods in activity, make sure to setup the proguard to keep methods used for testing ..

[2019-07-31 09:54] sfkir commented on #449
Also have the same issue. Is there any solution? @copolii @ganjarpanji

[2019-07-31 10:33] ganjarpanji commented on #449
@sfkir not yet, do you have any idea with this issue @saikrishna321 @KazuCocoa ?

[2019-07-31 10:36] ganjarpanji commented on #449
here my specific error :

[debug] [Espresso] [Instrumentation] [STDOUT] Caused by: android.content.res.Resources$NotFoundException: Resource "com.traveloka.android.staging:dimen/dimen_name_icon_size" (7f070059) is not a Drawable (color or path): TypedValue{t=0x5/d=0x3801 a=2 r=0x7f070059}

[2019-07-31 10:37] ganjarpanji commented on #449
here my specific error :

[debug] [Espresso] [Instrumentation] [STDOUT] Caused by: android.content.res.Resources$NotFoundException: Resource "com.appname.android.staging:dimen/dimen_name_icon_size" (7f070059) is not a Drawable (color or path): TypedValue{t=0x5/d=0x3801 a=2 r=0x7f070059}

[2019-07-31 10:47] KazuCocoa commented on #449
As https://github.com/appium/appium-espresso-driver/issues/460#issuecomment-507966652 , I thought this kind of error was dependencies inside product code and espresso driver.
For example, using AndroidX instead of previous support libraries, enable vector drawable option etc.

I have no exact answer for it, unfortunately, since mostly it depends on dependencies in production code and espresso...

[2019-07-31 10:52] sfkir commented on #449
But crash doesn't happen when I run Espresso tests. This only happen when I run my Appium tests with Espresso driver.

[2019-07-31 11:34] KazuCocoa commented on #449
I forgot which issues or somewhere, but I saw/heard a similar situation. (Maybe similar case, but sorry if it is wrong. I could not remember clear for now...)

Vanilla espresso could build and launch while Appium espresso failed.
It was fixed tweaking product code's package references. Vanilla espresso built with production code, so dependencies were resolved then accidentally.

[2019-07-31 12:52] ganjarpanji commented on #449
currently my app already migrate with androidX, how about you @sfkir ? now im testing with older version app

[2019-07-31 12:55] sfkir commented on #449
@ganjarpanji Yes, our app already migrated with AndroidX.

[2019-07-31 13:08] KazuCocoa commented on #449
AndroidX was just an example.

I googled the word and found some similar issues.
Did you coordinate your resource packages for proper resolution?

https://stackoverflow.com/questions/55862661/resourcesnotfoundexception-thrown-after-updating-gradle-plugin-to-3-4-0
https://stackoverflow.com/questions/29095063/resourcesnotfoundexception-resource-is-not-a-drawable-color-or-path

[2019-08-07 12:02] dkonurov commented on #449
Hi everyone, I think this problem when android try load windowBackground from theme

[2019-08-07 14:14] dkonurov commented on #449
when we are set windowBackground=@null into theme, this work corrected. I think error create R file or  problem with styable

[2019-08-11 15:35] ramkumar-yoganathan opened #476 "Unable to find the object using espresso driver (view and data matcher tag)"
appium Version : 1.1.13
node version: 6.9.0
appium-espresso-driver : 6.9.0

The same resource id is working as expected for UIAutomator2. It is not working when i change the automation name to espresso.

**When using findElementByAndroidDataMatcher**
https://gist.github.com/ramkumary/bdc7c8b8c5059a4631244159594131be

**When using findElementByAndroidViewTag**
https://gist.github.com/ramkumary/9432

[2019-08-11 16:14] mykola-mokhnach commented on #476
The value does argument not  look like a valid JSON

[2019-08-11 16:18] ramkumary commented on #476
{
	"name": "withId",
	"args": "in.redbus.android:id/selected_country_wrapper"
}

Is this correct JSON format?

[2019-08-11 16:20] priyankshah217 commented on #476
@ramkumary  you can use below tag like, It will work only on static view like lables and texts,

[code]

For data matcher which is works only on adapter view
`private val nativeViewButtonsScreen = MobileBy.androidDataMatcher("{name:'hasEntry',args:['title','chainedView']}")
`

[2019-08-11 16:20] ramkumary commented on #476
Code used to build the json is

`JSON.createObjectBuilder().add("name","withId").add("args","in.redbus.android:id/selected_country_wrapper").build.toString();`

[2019-08-11 16:21] ramkumary commented on #476
priyankshah217 - Thanks. How do I use resource id with espresso driver?

[2019-08-11 16:31] mykola-mokhnach commented on #476
What I can observe in the log is the string, which cannot be coerced to an object. JSON standard required keys and values to use double quotes rather than single quotes

[2019-08-11 16:31] mykola-mokhnach commented on #476
Linked https://github.com/appium/appium-espresso-driver/issues/445

[2019-08-11 16:40] ramkumary commented on #476
Even with double code seems not working.
`35m[HTTP][39m [90m{"using":"-android viewtag","value":"{\"name\":\"withId\",\"args\":\"in.redbus.android:id/selected_country_wrapper\"}"}[39m`

[2019-08-11 16:59] priyankshah217 opened #477 "Espresso driver was not able to locate elements, which used to work with UIAutomator-2"
I found an issue while locating an element using an espresso driver, The same locator strategy was working fine with UIAutoimator-2, but it was failing while using espresso driver.

**EspressoDriver:**
https://gist.github.com/priyankshah217/de4a9cf19344e82ac0dd7b135f06a2f5

**UiAutomator-2 Driver:**
https://gist.github.com/priyankshah217/20663116362a06cbac625e2c1843eb56

**Appium Version**
1.13.0

[2019-08-11 18:35] mykola-mokhnach commented on #476
the actual value should be of datamatcher type, it does not look like a tag name

[2019-08-12 16:54] imurchie commented on #477
Before trying to get that element could you get the source, to see what the espresso framework considers to be there?

[2019-08-12 17:09] priyankshah217 commented on #477
Okie Let me print source in both instrumentations. Here I wonder so much difference in page sources.

https://gist.github.com/priyankshah217/2541a87a6400545da7cb97d96ecf97f3#file-espresso_pagesource-xml

https://gist.github.com/priyankshah217/2541a87a6400545da7cb97d96ecf97f3#file-uiautomator2_pagesource-xml

[2019-08-12 17:31] mykola-mokhnach commented on #477
This is expected. UiAutomator2 and Espresso use two absolutely different automation approaches.

[2019-08-12 17:39] priyankshah217 commented on #477
I agree, but that way older way of location strategies won't work.
Anyway, by changing location stragergies, it worked.
`private val loginConfirmButton = MobileBy.xpath("//com.facebook.react.views.text.ReactTextView[@text='LOG IN']")
`

Closing this issue.

Thanks for your support.

[2019-08-12 17:39] #477 closed

[2019-08-13 02:00] KazuCocoa opened #479 "GetOrientation can be null because of no elementId"
https://github.com/appium/appium-espresso-driver/blob/master/espresso-server/app/src/androidTest/java/io/appium/espressoserver/lib/handlers/GetOrientation.kt#L30
should be getting root view, I assume

---

https://dev.azure.com/kazucocoa/ruby_lib_core_func/_build/results?buildId=1260

[2019-08-13 02:00] KazuCocoa commented on #479
am working

[2019-08-13 05:28] mykola-mokhnach commented on #479
yeah, look like copypaste issue

[2019-08-13 12:19] KazuCocoa opened #480 "Fix GSON default value in Kotlin"
I haven't fully checked code yet.

----

Default values can be `null` in some cases in Kotlin because of Gson and Kotlin combination

e.g. https://github.com/appium/appium-espresso-driver/pull/478

https://proandroiddev.com/most-elegant-way-of-using-gson-kotlin-with-default-values-and-null-safety-b6216ac5328c

We should implement default value like:
https://github.com/appium/appium-espresso-driver

[2019-08-14 00:14] #479 closed

[2019-08-14 01:20] KazuCocoa opened #482 "cannot switch to native_app context"
[code]

UIA2 works

---

https://dev.azure.com/kazucocoa/ruby_lib_core/_build/results?buildId=1261

[2019-08-14 13:31] #482 closed

[2019-08-14 16:34] greenkeeper[bot] opened #486 "An in-range update of appium-gulp-plugins is breaking the build 🚨"
## The devDependency [appium-gulp-plugins](https://github.com/appium/appium-gulp-plugins) was updated from `4.1.0` to `4.1.1`.

🚨 [View failing branch](https://github.com/appium/appium-espresso-driver/compare/master...appium:greenkeeper%2Fappium-gulp-plugins-4.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

appium-gu

[2019-08-15 12:28] ania-s commented on #459
Sorry for my delayed answer. I missed the message and then I worked on sth else for a while. I checked it again today and I have a different error but I am still not sure how to fix it. My current setup:

"appium": "^1.14.1",
"appium-chromedriver": "^4.13.0",
"chromedriver": "^76.0.0",
Android Debug Bridge version 1.0.41
Samsung Galaxy S3

Please find appium log below. If you need logcat as well I

[2019-08-15 13:07] mykola-mokhnach commented on #459
The error message is pretty clear as for my taste

[2019-08-15 13:52] mykola-mokhnach commented on #464
Such error is expected. You may try to click by coordinates to workaround it.

[2019-08-15 14:18] ania-s commented on #459
I did it but I still get the other error after restarting android app:

[2019-08-15 14:23] KazuCocoa commented on #459
Could you attach the latest full server log?

[2019-08-16 04:38] ania-s commented on #459
@KazuCocoa please find the log below:

[2019-08-20 10:50] aldochristiaan commented on #290
Hi, just want to ask .. Is there any documentation about this ? Thanks

[2019-08-20 11:00] KazuCocoa commented on #290
Only `webAtoms` section in https://github.com/appium/appium/blob/master/docs/en/commands/mobile-command.md so far

[2019-08-20 11:20] aldochristiaan commented on #290
Okay, thank you so much @KazuCocoa 👍
Because it's not displayed here:
http://appium.io/docs/en/commands/mobile-command/

[2019-08-23 01:27] KazuCocoa commented on #459
You called `/launch` command. Then, maybe Chromedriver did not wake up.

From next version, launch/close will raise errors: https://github.com/appium/appium-espresso-driver/pull/485/files
Because for espresso driver, they are same as create session/delete session technically.
So, we'll guide to use driver.quite and start driver instead.
Could you replace your close/launch to quite/start driver?

T

[2019-08-27 08:05] ganjarpanji commented on #449
hi @dkonurov can you verify if `windowBackground=@null ` work? if yes, so we should ask developer to update those in the app?

[2019-08-27 11:10] ania-s commented on #459
@KazuCocoa I tried closeApp/terminateApp/reset(only reset seems to work) to stop the app and then startActivity to launch it. However, after restarting the app I still cannot get it running:

and:

[2019-08-27 12:21] KazuCocoa commented on #459
It looks `reset` also should guide delete / create session.
Let me check later.

[2019-08-28 00:28] #459 closed

[2019-08-28 06:26] aldochristiaan opened #493 "Can't use setClipboard in espresso"
When using espresso driver, this method is not working.
`driver.setClipboardText("TEST STRING");`

It throws this exception:
[code]

Appium Version : 1.14.2
Node Version : 1.16.0
Java Version : 1.8.0_211

[2019-08-28 08:49] KazuCocoa commented on #493
Thanks.

Could you share your appium server log, too?
Exactly the exception is also espresso server-side issue, but I wonder what json data your client sent.

Below is an example by Ruby client.

[code]

https://github.com/appium/java-client/blob/1991a8a0f9e4a3ff467dbb713cb5c51c8edc060f/src/main/java/io/appium/java_client/clipboard/HasClipboard.java#L62-L65 is Java client for it

[2019-08-28 08:52] KazuCocoa commented on #493
Ah, I've fixed it in a couple of weeks ago. https://github.com/appium/appium-espresso-driver/pull/478
It will be in 1.15.0

You can try it as `appium@beta`

[2019-08-28 08:52] #493 closed

[2019-08-28 08:55] aldochristiaan commented on #493
Okay, thanks @KazuCocoa 👍

[2019-08-28 12:43] ania-s commented on #459
@KazuCocoa so which commands can I actually use to stop & start app on Android? WebdriverIO that we use have no `quit` or any corresponding command.  I don't think there is a mobile command I could execute. So any way to do that?
And what about launching an app? Is `startActivity` supported?

[2019-08-28 12:57] KazuCocoa commented on #459
According to http://appium.io/docs/en/commands/session/delete/, `driver.endSession();` is for webdriverio as `quit` for other clients

[2019-08-28 12:59] ania-s commented on #459
Well I think this documentation is not up to date as there is no endSession() method for webdriverio. Hence I am really confused as it seems there is not way to handle it when using webdriverio

[2019-08-28 19:45] TarCV commented on #449
I've managed to fix it for my app by changing this driver:
- changed all SDK versions in both `build.gradle` and server manifest to match versions in AUT
- disabled transitive dependencies for `espresso-contrib` (I guess these dependencies are main cause for this issue)
- excluded `androidx.test.espresso` group from transitive dependencies of `espresso-web`

Overall I think Android build process i

[2019-08-28 19:48] mykola-mokhnach commented on #449
@TarCV You are always welcome to create a PR if you have good improvement proposals

[2019-08-28 20:02] TarCV commented on #449
I'm not sure I'll have time to implement general fix, but count me in for testing such fix.

[2019-08-29 06:39] ania-s commented on #459
@jlipps I tried it yesterday as well but it deletes the session completely and I would have to start a new one providing all the capabilities etc. I cannot simply use startActivity afterwards as it complains that `A session is either terminated or not started` Is that really how it should work, that I need to start a new session?

[2019-08-29 08:15] ania-s commented on #459
I tried to use `deleteSession` and `newSession` to start the next test, however if I pass `browser.capabilities` to the `newSession` I get an error:
`An unknown server-side error occurred while processing the command. Original error: Either JSONWP or W3C capabilities should be provided`
I checked that all the capabilities have the correct type. And couldn't find wat wrong is.

[2019-08-29 08:25] KazuCocoa commented on #459
Could you share the latest appium log?
I'm not sure the cause is client-side or server-side.

Yes.
Not same as UIA2, espresso ties to the app under test. Once you kill the process, you should re-launch espresso server since the instrumentation process has been stopped. If you only needed to make the app background, you can use background command instead of close the app command.

[2019-08-29 08:53] ania-s commented on #459
[35m[HTTP][39m [37m-->[39m [37mPOST[39m [37m/wd/hub/session[39m
[35m[HTTP][39m [90m{"capabilities":{"alwaysMatch":{"automationName":"Espresso","nativeWebScreenshot":true,"chromedriverExecutable":"/Users/userA/abcapp/test/acceptance/app/node_modules/.bin/chromedriver","appActivity":"com.app.abc.app.MainActivity","appPackage":"com.app.abc.app.smoketest","autoWebview":true,"autoGrantPermis

[2019-08-29 09:37] KazuCocoa commented on #459
You sent below item.

[code]

But:

- Valid format fro W3C is:
[code]

- Valid format for MJSONWP is like below (Switched 'capabilities' with 'desiredCapabilities'):
[code]

I quoted them from the top of your attached log.

[2019-09-02 09:29] ania-s commented on #459
@KazuCocoa I fixed the capabilities and got rid of the error but now I have another one:

capabilities:
[code]

the logs with new error (I tried appWaitActivity, appWaitPackage, appWaitDuration and no change):

`[35m[HTTP][39m [37m-->[39m [37mPOST[39m [37m/wd/hub/session[39m
[35m[HTTP][39m [90m{"capabilities":{"alwaysMatch":{"automationName":"Espresso","nativeWebScreenshot":true,"chrome

[2019-09-02 11:54] KazuCocoa commented on #459
mm, `[debug] �[35m[W3C (9d174fd3)]�[39m Encountered internal error running command: NoSuchDriverError: A session is either terminated or not started` happned in your 2nd test.
The 1st one had no such error. hmm..

Not sure the cause, but does it happen on emulator, too?
I was able to run without NoSuchDriverError on emulator x espresso just now.

[code]

[2019-09-02 12:36] ania-s commented on #459
@KazuCocoa I tried it on real device only, and this is how I need to execute the tests...

[2019-09-02 13:46] KazuCocoa commented on #459
I tried on a real device I had. It worked well. Android 9, Nokia device. Chromedriver was 76 supported one.

If it was chromedriver related issue, you can try other chromedriver versions which support your chrome version. I think you should make sure the cause is your devices, env or other materials.
Maybe trying out uiautomator2 instead of Espresso also helps to find the cause.

[2019-09-04 08:49] aldochristiaan commented on #449
Hello @TarCV, can you explain more about this, please?

I created a new android project with an empty activity, even though it doesn't use :
- `espresso-contrib`
- `espresso-web`
It still throws the error above and actually, it comes from SDK resources.

[2019-09-04 10:36] aldochristiaan commented on #449
Sorry to ask, but how can I connect modified `appium-espresso-drive`r on my local machine, to `appium` from npm ?
@KazuCocoa

[2019-09-04 12:05] aldochristiaan commented on #449
Oh my god, big thanks for your answer! Finally, I can run it on androidx! 💯

[2019-09-05 09:34] ganjarpanji commented on #449
awesome, thanks guys i managed to make it work now. 😆

Totally agree with this, we should make the build of it more generic somehow.

[2019-09-06 08:21] aldochristiaan commented on #449
Sorry to say @dpgraham , after you update the Appium beta to 1.15.0-beta, this solution can't work on my android application ..
Previously working well at version 1.14.0-beta.2 ..

[2019-09-10 12:02] ania-s commented on #459
@KazuCocoa so I got it working finally but only with "reloadSession". Nothing else worked. However, I have plenty of other issues now - bug reports, no test execution report generated, random failures. It's really flaky. I will open the separate issues for that. Thanks for help

[2019-09-11 08:41] tracyzhuyq opened #494 "unable to get webview context"
One question: in order to get webview context, is it necessary to set to true the setWebContentsDebuggingEnabled property on the android.webkit.WebView element, as using UIAutomator2?

Background: The app is a hybrid app and with setWebContentsDebuggingEnabled set to false. The app can be launched, but unable to get webview context using driver.getContextHandlers(). It returns "NATIVE_APP" only al

[2019-09-11 13:26] ania-s commented on #438
@poojachoudhary13 how did you get it working?

[2019-09-12 00:52] KazuCocoa commented on #494
Yes, basically if you want to access to the webview.

Or you can use `mobile:webAtoms` to access to the webview on Espresso. It follows
 https://developer.android.com/training/testing/espresso/web .
https://github.com/appium/appium/blob/b12c6e22e316db2f0becf8f3754549811a57b0f4/docs/en/commands/mobile-command.md#L141

https://discuss.appium.io also should help for such question

[2019-09-12 00:52] #494 closed

[2019-09-12 12:49] ania-s opened #495 "Unable to swipe"
I am using webdriver 5.x with appium 1.14.2 and I cannot get the swiping working. I used to open a similar issue (https://github.com/appium/appium-espresso-driver/issues/227) a long time ago and at that time I got it working with the below command. But the do not work any more:

[code]

Appium log:

[2019-09-16 05:29] idxn commented on #461
@mykola-mokhnach I faced the same issue. I think we need to add this in the document so that peoples would know how to deal with proguard.

[2019-09-16 08:47] ania-s commented on #495
Both server log and logcat
https://gist.github.com/ania-s/0964f718821b717db18f102b583d892f
https://gist.github.com/ania-s/686606c953dba2169efc04c03f0e65f5

I will try W3C actions but I am having some issues with those ones as well.

[2019-09-16 09:34] ania-s commented on #495
I cannot get it working with W3C actions, I do not get any error but nothing happens:

browser.performActions([{
      "type": "pointer",
      "id": "finger1",
      "parameters": {"pointerType": "touch"},
      "actions": [
          {"type": "pointerMove", "duration": 0, "x": x_start, "y": y},
          {"type": "pointerDown", "button": 0},
          {"type": "pause", "duration": 500},

[2019-09-20 18:17] ganjarpanji opened #499 "Espresso alternative for UIAutomator locator"
Currently im using so many elements with uiautomator locator :

wondering if espresso has native locator similar to this instead of using Xpath?.
And i tried search the documentation of the espresso-driver locator but not no luck, only found the datamatcher.

Thanks

[2019-09-20 21:53] ganjarpanji opened #500 "Espresso datamatcher in java"
I tried to find element with this espresso snippet :
`onData(hasToString(startsWith("SETTINGS")))`

in appium :
`driver.findElement(MobileBy.androidDataMatcher("{\"name\": \"hasToString\",\"args\": [\"name\":\"startsWith\", \"args\": \"SETTINGS\"]}"))`

is this a correct way?

[2019-09-21 03:18] KazuCocoa commented on #500
Yes, it looks correct.
https://appium.io/docs/en/writing-running-appium/android/espresso-datamatcher-selector/

[2019-09-21 03:18] #500 closed

[2019-09-21 03:18] KazuCocoa commented on #500
https://discuss.appium.io is also a good place to ask such question

[2019-09-21 03:26] KazuCocoa commented on #499
The UiSelector is not Espresso's feature. So espresso driver also does not support it.
Espresso has `viewtag` and `datamatcher` so far.

[2019-09-25 09:27] poojachoudhary13 commented on #449
@TarCV @aldochristiaan @ganjarpanji  I am also facing the same issue since our migrated to androidx. Good see some working solution for the problem. Can you please share some details regarding how to do these two steps

- disabled transitive dependencies for espresso-contrib (I guess these dependencies are main cause for this issue)

- excluded androidx.test.espresso group from transitive dependen

[2019-09-25 10:30] poojachoudhary13 commented on #449
@TarCV @aldochristiaan @ganjarpanji Hi guys i am also facing the same issue with our app since it migrated to androidx. I tried the above fix but it does not seem to be working for me. Please let me if i did anything wrong. Below is the change i did in build.gradle

- Changed sdk versions in build.gradle and AndroidManifest-test.xml files

-     androidTestImplementation("androidx.test.espresso:es

[2019-09-25 10:49] poojachoudhary13 commented on #449
in device logs i can see this exception as well. Not sure if it has to do something with the error.

9-25 16:09:06.161 E/TestLoader(20471): Could not find class: androidx.core.app.AppComponentFactory
09-25 16:09:06.161 D/ScribeSDK(20471): processNewTrackEvent trackEvent=TrackEvent(trackName=cx.variable_forceupdate.success, attributes={}, time=1569407946144)
09-25 16:09:06.162 D/ScribeSDK(20471): r